[2015-08-07 15:08] dspreadbury opened #1 "Add glyphs for 4-line, 6-line and 7-line tablature staves"
Default staff gap is 1.5 spaces for tab staves, so 375 design units per gap. Add to the **Staves** range, or new **Tablature** group?

[2015-08-07 15:09] dspreadbury opened #2 "Increase the repertoire of quasi-random squiggly lines"
Requested by Alexander Plötz:

[2015-08-07 15:09] dspreadbury opened #3 "Add "Con ped." and "Senza ped." symbols to 'Keyboard techniques' range"
Requested by Alexander Plötz:

![image](https://cloud.githubusercontent.com/assets/1312874/9138898/b3cb9904-3d1e-11e5-8968-9a65f3d7164c.png)

![image](https://cloud.githubusercontent.com/assets/1312874/9138904/b90bbbba-3d1e-11e5-84b2-ee4d0ffa2989.png)

[2015-08-07 15:11] dspreadbury opened #4 "Possible stylistic alternates in Emmentaler that could be added to Bravura"
This issue lists those glyphs that provide different visual appearances for glyphs that are encoded in SMuFL, that could be added as optional stylistic alternates.

See [this Excel spreadsheet](https://dl.dropboxusercontent.com/u/11586733/emmentaler-to-smufl.xlsx) for one-to-one mappings of Emmentaler glyphs to the SMuFL glyphs for which they could be added as stylistic alternates.
## Mensural not

[2015-08-07 15:12] dspreadbury opened #5 "Add piano keyboard fingering charts"
Requested by [Alex Plötz](mailto:post@notenlektorat.de):

[2015-08-07 15:12] dspreadbury opened #6 "Add stylistic alternate "violin clef" to the existing G clef"
Requested by Robert Piéchaud:

![image](https://cloud.githubusercontent.com/assets/1312874/9138981/251dd842-3d1f-11e5-973f-2a09063dce46.png)

[2015-08-07 15:13] dspreadbury opened #7 "Change alignment of arrow/arrowhead range to be centred around the origin"
As discussed on the mailing list:
1. http://smufl-discuss.50501.x6.nabble.com/Arrow-alignment-tc567.html
2. http://smufl-discuss.50501.x6.nabble.com/smufl-discuss-Re-Arrow-alignment-tc568.html
3. http://smufl-discuss.50501.x6.nabble.com/smufl-discuss-Re-Arrow-alignment-tc569.html
4. http://smufl-discuss.50501.x6.nabble.com/Re-smufl-discuss-Arrow-alignment-tc570.html
5. http://smufl-discuss.50501.x

[2015-08-07 15:14] dspreadbury opened #8 "Change appearance of bridgeClef (U+E078) to match Lachenmann's version"
Suggested by Knut Nergaard:

[2015-08-07 15:14] dspreadbury opened #9 "figBass5Raised3 (Figured bass diminished 5) should have a forward slash, not a backwards slash"
Robin Walker points out this discrepancy. Sources such as [this](http://www.robertkelleyphd.com/FiguredBass.pdf) show the 5 with a forward slash rather than the backward slash used by U+EA5A.

He also points out that we should add a 7 with a forward slash, for a diminished 7th.

![image](https://cloud.githubusercontent.com/assets/1312874/9139011/5f2192ae-3d1f-11e5-8e5a-257cb8aa8d37.png)

[2015-08-07 15:15] dspreadbury opened #10 "Add square brackets to 'Standard accidentals' range for editorial accidentals"
Suggested by Ben Byram-Wigfield.

Add accidentalBracketLeft (U+E26C) and accidentalBracketRight (U+E26D) to the 'Standard accidentals (12-EDO)' range.

[2015-08-07 15:16] dspreadbury opened #11 "Add stylistic alternates for cClef and cClefChange based on French-style alternative C clef"
The source glyphs can be found in Emmentaler at U+E172 and U+E173.

Knut Nergaard says:

![image](https://cloud.githubusercontent.com/assets/1312874/9139046/987e26c0-3d1f-11e5-8ac2-4476b17dc0e8.png)

[2015-08-07 15:17] dspreadbury opened #12 "Add new range for 'Bohlen-Pierce scale notation' including N, T, U, and Z clefs"
[Georg Hajdu](mailto:georg.hajfu@hfmt-hamburg.de) is working on special notations for the [Bohlen-Pierce scale](https://en.wikipedia.org/wiki/Bohlen%E2%80%93Pierce_scale), and in particular requires four new clefs, based on the letters, N, T, U, and Z.

Nora Müller suggested that these clefs should be rendered using letterforms based on the [Sütterlin font](https://en.wikipedia.org/wiki/S%C3%BCtte

[2015-08-07 15:17] dspreadbury commented on #12
[Nora-Louise Müller](mailto:nomuell@gmx.de) says:

"By now, I have been using N, T, U, and Z clefs. Regarding current fonts I can suggest two fonts that both Georg and I came along independently from each other, and they would make good models for SMuFL clefs:

http://www.dafont.com/de/18th-century-kurrent.font
http://www.dafont.com/de/greifswaler-deutsche-schrift.font

This type of handwriting /

[2015-08-07 15:17] dspreadbury commented on #12
Georg further adds:

"I'm using the Greifswaler Deutsche Schrift font with the following specs (clef_name, character x_offset y_offset font size;):

BP-N-clef, N 0 -1 "Greifswaler Deutsche Schrift" 28;
BP-U-clef, U 0 -1 "Greifswaler Deutsche Schrift" 28;
BP-T-clef, T 2 -1 "Greifswaler Deutsche Schrift" 28;
BP-Z-clef, Z 4 -4 "Greifswaler Deutsche Schrift" 28;

Offsets are calculated in respect to t

[2015-08-07 15:17] dspreadbury commented on #12
Adding a file showing the clefs currently used by Nora-Louise Müller in MuseScore. She says:

"Personally, I prefer the 18th Century Current font since it looks very elegant and "fluently handwritten". A little disadvantage of this specific font is that the letters are relatively wide - wider than the standard traditional clefs, which may lead to compatibility problems in scores because they may p

[2015-08-07 15:17] dspreadbury commented on #12
[Heinz Bohlen](mailto:hpbohlen@t-online.de) says:

"Just to let you know that I am absolutely happy with Greifswal(d)er Kurrent to be used for clefs like N, T, U and Z. It reminds me of what I learned in school in 1941/42. That should have been Sütterlin, but since our teacher didn't care to write the letters exactly vertically, it looked more like Greifswalder. That didn't last long, though. All

[2015-08-07 15:18] dspreadbury commented on #12
This was issue #249 in the old repository, and the attachments can still be found there.

[2015-08-07 15:18] dspreadbury opened #13 "Consider how to handle "on-staff" and "off-staff" use cases for fonts for text-based applications"
At the moment, Bravura Text is optimised for "on-staff" use, i.e. it uses a staff height of 0.8 em, designed to roughly align with the caps height of a typical text font, and all of the symbols that are typically drawn on the stave (noteheads, stems, flags, accidentals, etc.) are all scaled accordingly. They are also drawn as if on the middle staff line, and are then raised and lowered using ligat

[2015-08-07 15:19] dspreadbury opened #14 "Add barre/half-barre symbols to 'Guitar' range"
Requested by Robin Walker:

[2015-08-23 16:53] mscuthbert opened #15 "Bravura Text file sizes 4x bigger than Bravura"
The .otf, .eot, .woff, and especially .svg files for Bravura Text are about 4x bigger than those generated for Bravura.  I'm not sure if there is an optimization being run on Bravura that is not being run on Bravura Text, but the file size differences make a big difference when downloading from the net.  Thanks!

(Not sure if this is an actual SMuFL issue, but since there's no other "Text" font ye

[2015-08-23 18:37] dspreadbury commented on #15
Bravura Text contains thousands more glyphs than Bravura, because of all of the glyphs that are positioned higher or lower on the staff as part of the ligatures with the 'Combining staff positions' range. As a result, Bravura Text is much larger than Bravura.

[2015-08-23 18:37] #15 closed, assigned to nobody

[2015-08-23 18:55] mscuthbert commented on #15
(Thanks for the clarification!)

[2015-10-04 22:09] dspreadbury opened #16 "Add reversed common, cut common time signature glyphs, and slashed time signature 3, to 'Time signature supplement' range"
Requested by Axel Geertinger from the Danish Centre for Music Publication, The Royal Library, Copenhagen.

"The mirror-inverted common and cut time symbols, and the 2 and 3 with a vertical stroke as shown below. Possibly also the cut time symbol with two vertical strokes (first symbol in the third row in Donington’s table below – the double stroke is hard to see in this terrible scan, though)."

<

[2015-10-05 15:22] mscuthbert commented on #16
I believe that all the ones at the top example are included under the mensural time signatures in the med-ren ranges, except for the alternative 3/1 Tripla form (I've never seen this though; perhaps a stylistic alternate?) The "cut time symbol with two vertical strokes" looks to me like a C with a dot and a stroke in it. I believe that we do have that symbol in the range also. I think that the 2,

[2015-10-05 15:25] dspreadbury commented on #16
When Axel first made this request, I countered that these symbols were already encoded in the "Medieval and Renaissance Prolations" range, but according to the request from Axel and his colleague Peter Hauge, these time signature glyphs are distinct from the symbols used as prolations in Renaissance music and are found in common practice music up through the 18th century.

[2015-10-05 15:27] dspreadbury commented on #16
I should add that the two sources cited in the images above are Robert Donington's book _The Interpretation of Early Music_ (revised edition, 1977) – in which the "early" music in question is actually the Baroque period – and George Houle's book _Meter in musik 1600-1800_.

[2015-10-05 16:08] mscuthbert commented on #16
Yes, some of them are used that late -- in fact even later: Schumann uses the O signature in one piece. But except for the interpretation of reverse C-stroke, I can attest that all of the symbols have the same meaning as their Renaissance counterparts.

I would prefer renaming the section if need be to include Baroque and including them in that section -- either as new glyphs or as visual variants

[2015-10-05 16:29] mscuthbert commented on #13
I very much like the latter, and I think that's more of what I was going for in the initial suggestion. My sense is that we'll need to divide the symbols into collections that are likely to be used together so that glyphs that scale together are approximately in the right proportion. Mordents should definitely be bigger in relationship to quarter notes than they would be in a musical score, but in

[2015-10-06 08:30] dspreadbury opened #17 "Add L- and reversed L-style brackets for pedal start/stop to 'Keyboard techniques' range"
Requested by L Peter Deutsch:

"I'm creating a mapping between the symbol set of [mup](www.arkkra.com) and SMuFL, and I've found two symbols missing so far: symbols rather like a small "L" and X-mirrored "L," indicating beginning and end of piano pedaling, presumably to be joined with a horizontal line."

[2015-10-06 08:52] dspreadbury opened #18 "Add double whole duration versions of the noteheads in the 'Shape note noteheads' range"
Requested by L Peter Deutsch.

These are provided by [mup](http://www.arkkra.com), presumably for use in shape note music. At present SMuFL only encodes white (whole and half) and black (quarter and shorter) versions of these noteheads.

[2015-10-06 15:30] dspreadbury opened #19 "Add double whole duration slash to the 'Slash noteheads' range"
Requested by L Peter Deutsch.

This is supported by [mup](http://www.arkkra.com).

[2015-10-19 08:49] dspreadbury opened #20 "Add recommended stylistic alternates for Durand's '16' (not '15') and '24' (not '22') two- and three-octave markers"
Requested by Knut Nergaard.

<img width="736" alt="octave-16" src="https://cloud.githubusercontent.com/assets/1312874/10573294/a73e86f4-7646-11e5-9f20-7c2d622ee626.png">

<img width="741" alt="octave-16-24" src="https://cloud.githubusercontent.com/assets/1312874/10573295/a74f9d4a-7646-11e5-861f-e45f55c0f7c6.png">

[2015-10-19 08:50] dspreadbury opened #21 "Add reversed and turned time signature digits, plus common/cut-common glyphs, for canon/cancrizan writing"
Requested by Knut Nergaard.

<img width="689" alt="reversed-and-turned-time-signature-digits" src="https://cloud.githubusercontent.com/assets/1312874/10573344/d82ace9e-7646-11e5-8c00-2a74d43b7f55.png">

[2015-10-19 08:51] dspreadbury opened #22 "Add circular, slashed noteheads with opposing slashes, often used to denote striking piano strings"
Requested by Knut Nergaard.

<img width="709" alt="karkoshka-noteheads" src="https://cloud.githubusercontent.com/assets/1312874/10573372/04c4d346-7647-11e5-813c-eed00bc75bcf.png">

[2015-10-19 08:54] dspreadbury opened #23 "Add Ferneyhough quarter-tone accidentals to the 'Other accidentals' range"
Requested by Knut Nergaard.

<img width="759" alt="ferneyhough-quartertones" src="https://cloud.githubusercontent.com/assets/1312874/10573450/6d9cc3a6-7647-11e5-9e0d-75c762a73373.png">

[2015-10-19 08:56] dspreadbury opened #24 "Add 'Combining raise/lower by one 53-limit comma' glyphs to 'Extended Helmholtz-Ellis accidentals' range"
Requested by Knut Nergaard.

<img width="736" alt="helmholtz-ellis-raise-lower-comma" src="https://cloud.githubusercontent.com/assets/1312874/10573478/9aa44acc-7647-11e5-9a3e-42abed1e6e77.png">

[2015-10-19 08:57] dspreadbury opened #25 "Add mouthpiece/hand pop and rim/valve trill gliss. characters to 'Brass techniques' and/or 'Wind techniques' ranges"
Requested by Knut Nergaard.

<img width="753" alt="mouthpiece-pop-valve-trill" src="https://cloud.githubusercontent.com/assets/1312874/10573501/c75db5d0-7647-11e5-8b62-52f7df4a752c.png">

[2015-10-19 08:58] dspreadbury opened #26 "Add characters for bowing behind bridge across one, two, three, or four strings to 'String techniques' range"
Requested by Knut Nergaard.

<img width="513" alt="bow-behind-bridge-num-strings" src="https://cloud.githubusercontent.com/assets/1312874/10573525/e5c43648-7647-11e5-871f-3bb1f32ff36d.png">

[2015-10-19 08:59] dspreadbury opened #27 "Add nasal voice character to 'Vocal techniques' range"
Requested by Knut Nergaard. This symbol is cited in Stone's _Music Notation in the 20th Century_.

<img width="506" alt="nasal-voice" src="https://cloud.githubusercontent.com/assets/1312874/10573548/05f17f66-7648-11e5-89c9-d13dd4945a94.png">

[2015-10-19 09:00] dspreadbury opened #28 "Add stylistic alternates for keyboardPedalHeelToe to 'Keyboard techniques' range"
Requested by Knut Nergaard.

<img width="496" alt="pedal-heel-toe" src="https://cloud.githubusercontent.com/assets/1312874/10573574/344032a4-7648-11e5-88b4-bc8e9e3e1264.png">

[2015-10-19 09:11] dspreadbury opened #29 "Add further symbols from Salzedo's "Modern Study of the Harp" to the 'Harp techniques' range"
Requested by Knut Nergaard.

<img width="711" alt="salzedo-harp-techniques" src="https://cloud.githubusercontent.com/assets/1312874/10573760/b9ed0700-7649-11e5-842e-293c0f47c9e2.png">

[2015-10-19 09:13] dspreadbury opened #30 "Add reversed version of pictScrapedAroundRim to 'Percussion playing technique pictograms' range"
Requested by Knut Nergaard.

<img width="715" alt="clockwise-scrape" src="https://cloud.githubusercontent.com/assets/1312874/10573794/001c18b0-764a-11e5-85d6-c2eb4b2a7461.png">

[2015-10-19 09:14] dspreadbury opened #31 "Add free/unconducted character to 'Conductor symbols' range"
Requested by Knut Nergaard.

<img width="756" alt="free-unconducted-passage" src="https://cloud.githubusercontent.com/assets/1312874/10573815/22416166-764a-11e5-83a6-eabbe376af2d.png">

[2015-10-19 09:17] dspreadbury opened #32 "Additional characters for the 'Function theory symbols' range"
Requested by Knut Nergaard.

![function-theory-symbols](https://cloud.githubusercontent.com/assets/1312874/10573889/86db6aea-764a-11e5-81a1-039ce369b853.png)

[2015-10-19 09:18] dspreadbury opened #33 "Add Couperin arpeggio up/down swash to 'Multi-segment lines' range"
Requested by Knut Nergaard.

<img width="712" alt="couperin-swash" src="https://cloud.githubusercontent.com/assets/1312874/10573920/c34f426c-764a-11e5-85e7-6a069e0563aa.png">

[2015-10-19 09:19] dspreadbury opened #34 "Add new 'Fingering' range"
Requested by Knut Nergaard.

<img width="594" alt="fingering" src="https://cloud.githubusercontent.com/assets/1312874/10573941/dad488f2-764a-11e5-8ad8-e26d57ca42c1.png">

[2015-10-19 18:43] mscuthbert commented on #20
Yes, very interesting.  Also used by John Cage (16; I don't know about 24) as an ottava sign in his handwritten scores.  Good also that the numbers and the "va" "ma" etc. are separate since 15va and 16va are common for 15ma

[2015-10-26 09:37] dspreadbury opened #35 "Add new "soft accent" character to 'Articulations' range"
Originally requested by Kentaro Sato, and supported by other community members, including Alex Plötz.

This picture excerpted from the piano reduction of Lortzing's _Zar und Zimmermann_ shows the symbol in question:

![soft-accent](https://cloud.githubusercontent.com/assets/1312874/10725496/5f7a6ada-7bc4-11e5-8d6f-7d8e63cc2e78.jpg)

It also appears in the violin 1 and violin 2 parts of Brahms's fo

[2015-10-29 04:12] KentaroSato commented on #35
Hi. This is another example of "soft accent." This one is Schumann, I guess.
![30931f1c-s](https://cloud.githubusercontent.com/assets/15373706/10809814/ab9218fc-7e3d-11e5-8bcd-e3cdf712011c.jpg)

By the way, the Japanese version of Finale comes with own font set called "Kosaku," and Kosaku does have "soft accent" as a glyph. I have also requested Japanese music publishers to provide some examples o

[2015-10-29 05:19] mdgood commented on #35
I still don't understand how this differs from the existing messa di voce? All these examples look like messa di voce to me.

[2015-10-29 05:47] KentaroSato commented on #35
Although there is no exact rule for messa di voce, to me, if messa di voce is to be done on a long note, it would look like this...
![softaccent-ex1](https://cloud.githubusercontent.com/assets/15373706/10811098/9dcb1c9c-7e4b-11e5-831a-41eca7e9d10d.jpg)
And, in my opinon, the example below produces different result.
![softaccent-ex2](https://cloud.githubusercontent.com/assets/15373706/10811105/be00

[2015-10-29 06:00] mdgood commented on #35
In my experience, your second example is the more common way to notate a messa di voce, and is what I would expect the current SMuFL glyph to represent.

[2015-10-29 06:03] KentaroSato commented on #35
Oh, so, above examples produces the same results?
In my experience, nobody has performed them same so far (including Hollywood session players, members of London Symphony Orchestra and Sydney Symphony Orchestra). The glyph in the latter example has always been performed like "soft accent," quick and gentle crescendo and diminuendo on the attack of the note.

[2015-10-30 16:49] zolaemil commented on #35
As far as I can see the confusion stems from the fact that the meaning (i.e. how to perform it) of the "compound symbol that is essentially a reversed accent next to a normal accent" is ambiguous. Some people argue it indicates a _messa di voce dynamic_, others are on the opinion that it indicates a _soft accent articulation_.

I see two ways to deal with this:
1. Introduce _soft accent articulati

[2015-11-13 11:30] dspreadbury opened #36 "Define cut-outs for notehead characters"
SMuFL provides a mechanism to define cut-outs from all four corners of the bounding rectangles of various ranges of characters, in particular for accidentals.

It would also be useful to extend this mechanism to characters in the various noteheads ranges, because oval noteheads tend to be rotated in such a way that the tight bounding rectangle that describes them has quite large empty areas at the

[2015-11-13 12:20] knutnergaard commented on #36
Wouldn't this be useful for 8th – 1024th rests in tight spacing situations as well?

[2015-11-15 11:09] knutnergaard commented on #3
If these were to be added, I would like to see them on one line, without drop caps, as well. Come to think of it, stylized versions of Una Corda and Tre Corde would also be nice additions to the keyboard techniques range.

[2015-11-16 08:27] zolaemil commented on #36
+1 to more cutouts, noteheads and rests too.

[2015-11-28 16:30] Silverwolf90 commented on #36
Some other easy wins for cut-outs:

keyboardPlayWithRH
keyboardPlayWithLH
keyboardPlayWithRHEnd
keyboardPlayWithLHEnd

[2015-12-10 22:11] dspreadbury opened #37 "Convert SMuFL 1.2 drafts to W3C CLA license"
SMuFL is currently licensed under the BSD license. Following the processes of W3C Community Groups, draft versions of the SMuFL specification documents should be released under the W3C Community Contributor License Agreement (CLA). The CLA Deed with language for the specification is at:

https://www.w3.org/community/about/agreements/cla-deed/

The CLA agreement itself is at:

https://www.w3.org/co

[2015-12-10 22:11] dspreadbury opened #38 "Convert final SMuFL 1.3 release to W3C FSA License"
SMuFL is currently licensed under the BSD license. Following the processes of W3C Community Groups, draft versions of the SMuFL specification, metadata, and other related documents will be released under the W3C Community Contributor License Agreement (CLA), tracked under issue #37.

For the final release, this license will be updated to the W3C Community Final Specification Agreement (FSA). The u

[2016-01-06 23:46] dspreadbury opened #39 "Update recommendations for font-specific metadata locations on Linux to follow XDG Base Directory Specification"
Reported by @JanClaeys:

Font-specific metadata locations for linux (as defined in [`font-metadata-locations.md`](https://github.com/steinbergmedia/smufl/blob/master/font-metadata-locations.md)) should follow the [XDG Base Directory Specification](http://standards.freedesktop.org/basedir-spec/latest/).

Specifically, system-wide font metadata files should be searched in `$XDG_DATA_DIRS/SMuFL/Fonts

[2016-02-01 11:08] #37 closed, assigned to nobody

[2016-02-01 11:08] #39 closed, assigned to dspreadbury

[2016-02-22 16:30] dspreadbury opened #42 "Add left and right parentheses and brackets for hairpins to Dynamics range"
In some editions, editorial hairpins are denoted by way of brackets, either curved parentheses or square brackets. SMuFL's dynamics range should include suitable brackets for hairpins. These will need to be aligned vertically around the baseline, i.e. extending equally above and below, in the same way as e.g. the _niente_ circle (**dynamicNienteForHairpin**).

We don't need to add brackets (either

[2016-02-24 12:30] dspreadbury opened #43 "Add colon and hyphen separator glyphs for combined dynamics (e.g. f-p or mf:pp) to Dynamics range"
For so-called combined dynamics, i.e. where one dynamic is followed immediately by another, as in _fp_ or _sfpp_, for some combinations editors use a separator of some description, typically a colon or a hyphen, to help disambiguate the point at which the first dynamic stops and the second begins.

The Dynamics range should contain suitable colon and hyphen characters to support this convention.

[2016-03-14 09:13] dspreadbury opened #44 "Add symbol for three-quarters flat often used in Arabic notation"
Requested by Karim Ratib (@infojunkie):

"I'm working on bringing Arabic and Turkish notation to a number of open source projects. I did some research on the availability of Arabic and Turkish glyphs in SMuFL, and I found them all with one
exception: the Arabic 3/4 flat accidental.

"You can see this accidental [here](http://www.oud.eclipse.co.uk/notation.html) and I am also linking to
sample page

[2016-03-22 10:06] sraduvictor opened #45 "Add byzantine music symbols to SMuFL"
Could we add byzantine music symbols to SMuFL?
This is an example of byzantine fonts used to write a song : http://stanthonysmonastery.org/music/ByzMusicFonts.html
I've started working on investigating how these symbols translate into western notation, and have compiled a set of rules that are generally used : http://byzantinenotation.wikia.com
From what I found out all symbols have a precise dura

[2016-04-02 11:25] infojunkie commented on #44
Regarding the system of Arabic accidentals, I found another reference that uses the same system. The reference is:

'Abd al-Samī' Hashād, Medhat - مدحت عبد السميع حشاد
Maqām - مقام
Dar Merit, Cairo, Egypt - دار ميريت
(year unknown)

Here are links showing the book cover and relevant accidentals page:
https://github.com/infojunkie/music-l10n/blob/master/images/merit_0cover.jpg
https://github.com/in

[2016-04-02 12:06] infojunkie commented on #44
In his oud method book, [Jamil Bashir](https://en.wikipedia.org/wiki/Jamil_Bachir) also uses the 3/4 flat accidental symbol, in addition to 1/4 flat and 1/4 sharp accidentals, as per the following links:
https://github.com/infojunkie/music-l10n/blob/master/images/bashir_0cover.png
https://github.com/infojunkie/music-l10n/blob/master/images/bashir_accidentals.png

The 1/4 flat is already represente

[2016-04-04 23:58] KentaroSato commented on #35
Sorry, it took me long to provide more examples. There are several of these in the work I will conduct next... "Blue Roses for Female Voices and Piano" by Takatomi Nobunaga, published by Ongaku no Tomo sha Corporation (Tokyo, Japan). ISBN 978-4-276-55458-0

![img_0051](https://cloud.githubusercontent.com/assets/15373706/14267427/427aac08-fb0b-11e5-9d11-31cc1ec6a664.JPG)

![img_0052](https://cloud.

[2016-04-13 12:40] JAngermueller opened #46 "Add two or three extra wide wavy line characters to the multi-segment lines section"
The current wiggleWavyWide can still not produce very wide lines as used for example in harp arpeggios. The November2 SMuFl font already has an extra wide wavy line character, but it still is not sufficient for creating typical glissando lines as shown in the screenshot.
Increasing the font size is not a workaround in this case as also the line thickness increases. So I recommend adding 2 or 3 new

[2016-04-18 09:35] dspreadbury commented on #36
The SMuFL specification does not legislate as to which glyphs may have these cut-outs defined. Font designers are free to specify cut-outs for any glyphs, or no glyphs, as they wish.

In Bravura, we will specify the cut-outs both for (at least some) accidentals and noteheads as part of this change, and these cut-outs will be included in the metadata once this issue is resolved.

[2016-04-18 13:46] dspreadbury commented on #16
In the light of @mscuthbert's comments above, I propose that we resolve this issue by adding timeSigCut3 to the 'Time signatures supplement' range, but otherwise leave the other glyphs in Axel's original request in the 'Medieval and renaissance prolations' range as they are.

[2016-04-18 13:50] dspreadbury commented on #7
I propose that the alignment of the glyphs in the [Arrows and arrowheads](https://w3c.github.io/smufl/gitbook/tables/arrows-and-arrowheads.html) range be changed such that they are centered around the origin. Unless there is any discussion to the contrary in the very near future, I will make this change and update the implementation notes for this range to make this clear.

[2016-04-18 13:56] dspreadbury commented on #17
I propose to add 'keyboardPedalHookStart' and 'keyboardPedalHookEnd' to the existing [Keyboard techniques](https://w3c.github.io/smufl/gitbook/tables/keyboard-techniques.html) range to satisfy this requirement.

[2016-04-18 14:21] dspreadbury commented on #18
I propose adding a new **Shape note noteheads supplement** range with the following glyphs to satisfy this requirement:

| Name | Description | Code point |
| --- | --- | --- |
| noteShapeRoundDoubleWhole | Round double whole (4-shape sol; 7-shape so) | ECD0 |
| noteShapeSquareDoubleWhole | Square double whole (4-shape la; Aikin 7-shape la) | ECD1 |
| noteShapeTriangleRightDoubleWhole | Triangle r

[2016-04-18 14:27] dspreadbury commented on #19
I propose to add a new glyph `noteheadSlashWhiteDoubleWhole` to the existing [Slash noteheads](https://w3c.github.io/smufl/gitbook/tables/slash-noteheads.html) range at code point U+E10A to satisfy this requirement.

[2016-04-18 14:33] KentaroSato commented on #35
Just in case, this is a pic from my original post.
![20150919-kens-softaccents variations](https://cloud.githubusercontent.com/assets/15373706/14607733/cd489022-05bd-11e6-91ab-ceecb2ef3a51.jpg)

[2016-04-18 14:38] dspreadbury commented on #20
I propose defining recommended stylistic alternates for the 15- and 22-related glyphs in the [Octaves](https://w3c.github.io/smufl/gitbook/tables/octaves.html) range:

| Source glyph | Variant glyph name | Variant glyph description |
| --- | --- | --- |
| quindicesima | sedicesima | Sedicesima (16) |
| quindicesimaAlta | sedicesimaAlta | Sedicesima (16) alta |
| quindicesimaBassa | sedicesimaBassa

[2016-04-18 14:57] dspreadbury commented on #21
I propose adding two new ranges, **Turned time signatures** and **Reversed time signatures**, each containing turned and reversed versions of the first 12 glyphs of the existing [Time signatures](https://w3c.github.io/smufl/gitbook/tables/time-signatures.html) range, e.g. `timeSig0Turned` and `timeSig0Reversed` through `timeSigCutCommonTurned` and `timeSigCutCommonReversed`.

Each of these new ran

[2016-04-18 15:07] dspreadbury commented on #22
I propose adding two glyphs to the existing [Round and square noteheads](https://w3c.github.io/smufl/gitbook/tables/round-and-square-noteheads.html) range to meet this requirement: `noteheadRoundBlackDoubleSlashed` and `noteheadRoundWhiteDoubleSlashed`.

[2016-04-18 15:12] dspreadbury commented on #23
I propose adding two new glyphs to the existing [Other accidentals]() range to meet this requirement, to be called `accidentalOneQuarterToneSharpFerneyhough` (description 'One-quarter-tone sharp (Ferneyhough)') and `accidentalOneQuarterToneFlatFerneyhough` (description 'One-quarter-tone flat (Ferneyhough)') to meet this requirement.

With these two additional glyphs, the **Other accidentals** rang

[2016-04-18 15:32] wpcopper commented on #23
These quartertone symbols will need to be used in connection with ordinary sharps, flats and naturals --  so either before or after such ordinary accidentals, as well as being used as a single symbol to modify a note that does not have another accidental mark.

[2016-04-18 15:43] dspreadbury commented on #25
I propose adding `windMouthpiecePop` (description 'Mouthpiece or hand pop') and `windRimOnly` (description 'Rim only') to the [Wind techniques](https://w3c.github.io/smufl/gitbook/tables/wind-techniques.html) range, and `brassValveTrill` (description 'Valve trill') to the [Brass techniques](https://w3c.github.io/smufl/gitbook/tables/brass-techniques.html) range to satisfy this requirement.

With t

[2016-04-18 15:51] dspreadbury commented on #26
I propose that the following glyphs are added to the [String techniques](https://w3c.github.io/smufl/gitbook/tables/string-techniques.html) range to meet this requirement:

| Name | Description | Code point |
| --- | --- | --- |
| stringsBowBehindBridgeOneString | Bow behind bridge on one string | E627 |
| stringsBowBehindBridgeTwoStrings | Bow behind bridge on two strings | E628 |
| stringsBowBeh

[2016-04-18 15:53] dspreadbury commented on #27
I proposing adding a new glyph `vocalNasalVoice` (description 'Nasal voice') to the [Vocal techniques](https://w3c.github.io/smufl/gitbook/tables/vocal-techniques.html) range to meet this requirement.

[2016-04-18 16:01] wpcopper opened #47 "Add neutral raised/lowered comma accidentals to Extended Helmholtz-Ellis"
A similar glyph to that used for the Ferneyhough quarter tone up and down is needed for Just Intonation symbols, to modify notes that have no other accidentals.     A simple arrow up, arrow down, and extensions (two arrows up, down) as in the existing Extended H-E would be fine.   Perhaps the base of the arrow should have a 'leg' or  some other graphical element that would help in spacing such acc

[2016-04-18 16:03] dspreadbury commented on #28
In fact SMuFL does not currently encode "heel to toe" or "toe to heel": it encodes "heel **or** toe" (`keyboardPedalHeelToe`, U+E666). So in fact I propose adding two new glyphs to the [Keyboard techniques](https://w3c.github.io/smufl/gitbook/tables/keyboard-techniques.html) range to satisfy this requirement, `keyboardPedalHeelToToe` (description 'Pedal heel to toe') and `keyboardPedalToeToHeel` (

[2016-04-18 16:12] dspreadbury commented on #47
The Extended Helmholtz-Ellis Just Intonation accidental system is the work of [Marc Sabat](http://www.marcsabat.com/index.html) and it's hence not within my power as the maintainer of the SMuFL specification to determine whether or not such symbols should be added to this system.

In general I don't believe this request meets the (admittedly informal) criteria for inclusion into the SMuFL standard

[2016-04-18 17:57] dspreadbury commented on #29
To meet this requirement, I propose adding new glyphs to the [Harp techniques](https://w3c.github.io/smufl/gitbook/tables/harp-techniques.html) range, as follows:

| Name | Description | Code point |
| --- | --- | --- |
| harpSalzedoDampLowStrings | Damp only low strings (Salzedo) | E697 |
| harpSalzedoDampBothHands | Damp with both hands (Salzedo) | E698 |
| harpSalzedoDampBelow | Damp below (Sal

[2016-04-18 18:01] dspreadbury commented on #30
I propose adding a new glyph `pictScrapeAroundRimClockwise` (description 'Scrape around rim (clockwise)') to the [Percussion playing technique pictograms](https://w3c.github.io/smufl/gitbook/tables/percussion-playing-technique-pictograms.html) range, and changing the description of the existing `pictScrapeAroundRim` glyph to 'Scrape around rim (counter-clockwise), to meet this requirement.

With t

[2016-04-18 18:03] dspreadbury commented on #31
To meet this requirement, I propose adding a new glyph `conductorUnconducted` (description 'Unconducted/free passages') to the [Conductor symbols](https://w3c.github.io/smufl/gitbook/tables/conductor-symbols.html) range.

With this addition there are five remaining unoccupied code points in the **Conductor symbols** range.

[2016-04-19 07:36] notator opened #48 "Add "morsen" character to tremolos range"
This character is used in many Stockhausen scores to denote "morsen" (irregular tremolo).
The thick beam on the left aligns on the stem in the same way as an ordinary tremolo beam (tremolo 1).
![image](https://cloud.githubusercontent.com/assets/1655500/14630994/61001bfc-0611-11e6-8b3b-e75de17dc9e9.png)

[2016-04-19 08:06] notator opened #49 "Add Stockhausen click characters"
These characters were used by Stockhausen as his standard symbols for labial (=tongue) click, finger click and both simultaneously.
They are usually positioned above a headless stem, like an accent, but are sometimes used as noteheads. The stem always aligns with the left edge of the central vertical. I don't know which category these characters belong to.
![image](https://cloud.githubusercontent.

[2016-04-19 09:01] dspreadbury commented on #32
To meet this requirement, the following glyphs will be added to the existing [Function theory symbols](https://w3c.github.io/smufl/gitbook/tables/function-theory-symbols.html) range:

| Name | Description | Code point |
| --- | --- | --- |
| functionFUpper | Function theory F | EA99 |
| functionIUpper | Function theory I | EA9A |
| functionILower | Function theory i | EA9B |
| functionKUpper | Fun

[2016-04-19 13:50] dspreadbury commented on #33
Upon reflection, I don't think that these two glyphs represent anything semantically or functionally different than the existing `wiggleArpeggiatoUpSwash` and `wiggleArpeggiatoDownSwash` glyphs in the [Multi-segment lines](https://w3c.github.io/smufl/gitbook/tables/multi-segment-lines.html) range, so to meet this requirement I propose we define new recommended stylistic alternates for these two gl

[2016-04-19 15:02] dspreadbury commented on #34
I don't think there is any practical reason to include the digits 0, 6, 7, 8, or 9 in a range of glyphs that are designed to be used for specifying fingerings, since (to my knowledge) there is no zeroth finger, nor do (most) people have more than five fingers on a given hand (and such people with more than five fingers are a sufficiently rare commodity that it is not usual to indicate fingerings f

[2016-04-19 15:12] adrianholovaty commented on #34
Is there a particular reason to leave out right-hand pinky fingering for guitar? Here's a screenshot of the Guitar Pro UI, which by default uses p, i, m, a and c for the right-hand fingering.

![guitar_pro_right_hand_fingering](https://cloud.githubusercontent.com/assets/180401/14644110/30235dec-0651-11e6-969d-0f7893072b97.png)

In the Guitar Pro 6 notation preferences (File | Stylesheet | Notation

[2016-04-19 15:12] twxs commented on #34
Hi,
0 is used in our guitar notation software for the left hand fingering to indicate an open string i.e. a note played without finger.

[2016-04-19 15:19] dspreadbury commented on #42
To meet this requirement, I propose adding four new glyphs to the [Dynamics](https://w3c.github.io/smufl/gitbook/tables/dynamics.html) range as follows:

| Name | Description | Code point |
| --- | --- | --- |
| dynamicHairpinParenthesisLeft | Left parenthesis (for hairpins) | E542 |
| dynamicHairpinParenthesisRight | Right parenthesis (for hairpins) | E543 |
| dynamicHairpinBracketLeft | Left bra

[2016-04-19 15:21] dspreadbury commented on #43
To meet this requirement, I propose adding three further glyphs to the [Dynamics](https://w3c.github.io/smufl/gitbook/tables/dynamics.html) range (following on from the four new glyphs added for #42), as follows:

| Name | Description | Code point |
| --- | --- | --- |
| dynamicCombinedSeparatorColon | Colon separator for combined dynamics | E546 |
| dynamicCombinedSeparatorHyphen | Hyphen separat

[2016-04-19 15:26] dspreadbury commented on #34
Thanks for the quick feedback. I'm happy to extend the proposed range to accommodate these requests. We can add `fingering0` for an open string, and I can add 'c', 'x', 'e', and 'o' for the various ways of describing the little/pinky finger; can you @adrianholovaty tell me what these notionally stand for? I presume 't' stands for "thumb" but I'm on shakier ground when it comes to the other letters

[2016-04-19 16:07] dspreadbury commented on #44
There are three ways we could approach meeting this requirement, and I invite comment from the community over which way would be preferred:

#### 1. Add the single missing three-quarters-tone flat accidental to an existing range.

We could add a single new glyph `accidentalThreeQuarterTonesFlatArabic` and add it to the [Other accidentals](https://w3c.github.io/smufl/gitbook/tables/other-accidental

[2016-04-19 16:15] MusicnotesTomN commented on #34
c = chicito

e - I'm honestly not sure what word this letter represents, but it's the letter used for the little finger in Ricardo Iznaola's "Kitharlogus" and other works/methods as well.  Though few have "formalized" the pedagogical usage of the pinky, it is becoming more common in contemporary works.

o = open (speculative).  As @twxs mentioned, "0" is very common to represent open strings and s

[2016-04-19 16:41] adrianholovaty commented on #34
I confess I don't know what the 'c', 'x', 'e', etc. stand for. I did a bit of research and found this discussion: http://www.banjohangout.org/archive/193539

Relevant snippet: "Okay, well here's a theory. Tabledit was written in France and the word for the ring finger in French is "Annulaire", so that may be what the 'A' stands for. Unfortunately, the word for the little finger - Auriculaire - als

[2016-04-19 17:06] infojunkie commented on #44
I vote for option 3, because Arabic, Persian and Turkish music traditions are related but are not the same.

Also, please note that Jamil Bashir (as per https://github.com/w3c/smufl/issues/44#issuecomment-204703212) defines all possible quarter accidentals: 1/4 flat, 1/2 flat, 3/4 flat, and same for sharps. It would be worth considering adding those (for a total of 9 accidentals, including the ful

[2016-04-19 17:35] sertansenturk commented on #44
Hi there,

I'm a researcher working in [CompMusic project](http://compmusic.upf.edu/). My main reasearch topic is Ottoman-Turkish makam music and I'm also the maintainer of the [SymbTr collection](https://github.com/MTG/SymbTr).

Even though some of the symbols are shared not only between Arabic, Persian and Turkish systems but also with the microtonal systems originating from Europe etc., they al

[2016-04-19 18:16] twxs commented on #34
These different versions were introduced in Guitar Pro because we have seen them in songbooks, Guitar methods, magazines, softwares like TablEdit or because they was requested by our customers.

I will look to see if I can find some references.

[2016-04-19 20:03] dspreadbury commented on #44
Based on this feedback, I propose that we follow option 3, i.e. we create a new **Arabic accidentals** range, reserving 16 code points at U+ED30 through U+ED3F, of which 9 will be occupied and 7 will remain unoccupied. The glyphs to be included are:

| Name | Description | Code point |
| --- | --- | --- |
| accidentalDoubleFlatArabic | Arabic double flat | ED30 |
| accidentalThreeQuarterTonesFlatA

[2016-04-19 20:29] dspreadbury commented on #48
To address this requirement, I propose adding a new glyph `stockhausenTremolo` (description 'Stockhausen irregular tremolo (morsen)') to the end of the existing [Tremolos](https://w3c.github.io/smufl/gitbook/tables/tremolos.html) range.

[2016-04-19 20:37] dspreadbury commented on #49
These are hard to categorise, @notator! For which instruments did Stockhausen write these symbols? Could they reasonably be added to one of the existing ranges for playing techniques, which include ranges for brass, wind, string, plucked, vocal, keyboard, harp, and percussion?

My instinct, in the absence of any specific guidance from you to the contrary, would be to encode them in the [Percussion

[2016-04-19 21:03] dspreadbury commented on #47
Marc tells me that this request is invalid and requires no further action.

[2016-04-19 21:03] #47 closed, assigned to nobody

[2016-04-19 21:46] notator commented on #49
They are usually used for singers (who have their hands free), but are also used for other performers:  e,g, the trumpet and bassethorn soloists in _Licht_. They were first used (I think) for the vocal soloist and choirs in _Momente_, so I'd be inclined to add them to [vocal techniques](https://w3c.github.io/smufl/gitbook/tables/vocal-techniques.html) rather than to percussion.

To be clear, the f

[2016-04-19 23:10] knutnergaard commented on #33
Agreed!

[2016-04-19 23:21] dspreadbury commented on #49
Thanks for the clarification. I therefore propose that this requirement is met by adding these three glyphs to the [Vocal techniques](https://w3c.github.io/smufl/gitbook/tables/vocal-techniques.html) range, as follows:

| Name | Description | Code point |
| --- | --- | --- |
| vocalTongueClickStockhausen | Tongue click (Stockhausen) | E648 |
| vocalFingerClickStockhausen | Finger click (Stockhause

[2016-04-20 07:30] notator commented on #49
Agreed. Thanks!

[2016-04-20 07:35] notator commented on #48
Agreed. Thanks!
Maybe it should be made clear that "morsen" means "like doing morse code". The character is often accompanied by a text qualifier (e.g. _fast_, _slow_, _very slow_, etc.)

[2016-04-20 08:05] notator opened #50 "Errors in standard accidentals page"
The glyphs don't match the descriptions in the "Recommended ligatures" at https://w3c.github.io/smufl/gitbook/tables/standard-accidentals-12-edo.html

[2016-04-20 08:15] dspreadbury commented on #48
I will change the description to 'Stockhausen irregular tremolo ("Morsen", like Morse code)'.

[2016-04-20 08:53] notator opened #51 "Add Stockhausen accidentals"
Accidentals seem to be organised in pages related to particular contexts, regardless of duplicate glyphs. Here are the ones Stockhausen used. Not sure if/how you want to organise these...
![image](https://cloud.githubusercontent.com/assets/1655500/14668571/515165f6-06e5-11e6-80e4-ae0c407d18b0.png)
Left to right, these are:
1. raised
2. lowered
3. raised flat
4. lowered flat
5. raised natural
6. lo

[2016-04-20 08:55] dspreadbury commented on #50
This is now fixed. Further updates to the specification will be forthcoming once the v1.2 revisions have been made.

[2016-04-20 08:55] #50 closed, assigned to nobody

[2016-04-20 08:58] dspreadbury commented on #51
All of the accidentals you have shown are already encoded in SMuFL, except for the final three-quarter-tones sharp accidental (which, by the by, seems a peculiarly impractical design given that it occupies nearly twice as much height as a regular sharp accidental).

Can you provide any references to composers other than Stockhausen using this sign? Has it become widely adopted?

[2016-04-20 09:09] notator commented on #51
I don't know if anyone else uses Stockhausen's 3/4 sharp, but suspect that many of his students/followers do. Its actually not as impractical as one might think. Its no higher than the raised/lowered sharps, and fits nicely on a staff with white areas making it as legible as an ordinary sharp. (The central beam is aligned with the notehead.)

[2016-04-20 09:49] notator opened #52 "Arpeggiato wiggles"
For me, an arpeggiato is a _vertical_ wiggle (similar to the horizontal trill wiggle) to the left of a chord. Glissando wiggles have an arbitrary angle.
So I think the Arpeggiato glyphs (U+EAA9 -> U+EAAE) should be rotated by 90 degrees in
https://w3c.github.io/smufl/gitbook/tables/multi-segment-lines.html
In particular, EAAD should point upwards and EAAE should point downwards.

[2016-04-20 09:52] dspreadbury commented on #52
No, due to the way in which fonts for nominally left-to-right writing systems are rendered by all current font technologies, it is more practical to have these glyphs drawn horizontally so that a longer wiggle can be created simply by drawing a run of the same glyphs over and over again, and then have that drawn string rotated at draw time.

[2016-04-20 09:52] #52 closed, assigned to nobody

[2016-04-20 09:58] dspreadbury commented on #35
To address this requirement, I propose creating a new **Articulation supplement** range, with a block of 16 reserved code points from U+ED40 through U+ED4F. The following 8 glyphs will be added to this new range:

| Name | Description | Code point |
| --- | --- | --- |
| articSoftAccentAbove | Soft accent above | ED40 |
| articSoftAccentBelow | Soft accent below | ED41 |
| articSoftAccentStaccatoA

[2016-04-20 10:17] notator commented on #52
Okay, but to avoid any confusion, I think the Implementation Notes should include examples of both glissando and arpeggiato construction using the defined glyphs.
(I used vertically oriented wiggles in Stockhausen scores. They were used in text strings containing carriage returns. The strings were subject to the usual graphic and text transformations...)

[2016-04-20 10:26] dspreadbury commented on #24
Marc Sabat has recently contacted me with a number of other glyphs that should be added to the [Extended Helmholtz-Ellis accidentals (just intonation)](https://w3c.github.io/smufl/gitbook/tables/extended-helmholtz-ellis-accidentals-just-intonation.html) range, as follows:

| Name | Description | Visual appearance | Code point |
| --- | --- | --- | --- |
| accidentalQuarterFlatEqualTempered | Lower

[2016-04-20 11:16] dspreadbury commented on #51
Upon further reflection I have decided to encode this complete set of accidentals in a new **Stockhausen accidentals (24-EDO)** range, with 16 reserved code points from U+ED50 through U+ED5F, with the following 11 glyphs (leaving 5 code points unoccupied):

| Name | Description | Code point |
| --- | --- | --- |
| accidentalRaisedStockhausen | Raised (Stockhausen) | ED50 |
| accidentalLoweredStock

[2016-04-20 12:53] notator commented on #51
Great! Many thanks!

[2016-04-20 13:33] notator commented on #51
It occurred to me that you might like to add the following as well (in the 5 unused code points)
![image](https://cloud.githubusercontent.com/assets/1655500/14676046/190b80e2-070c-11e6-8b33-eb6a66789eca.png)
They are used to mean that the sharp or flat applies to all the subsequent (repeated) noteheads.
The different heights of the horizontal arrow are so that it can always be placed in a space on

[2016-04-20 16:00] mscuthbert commented on #34
The 0 is also used sometimes for thumb fingerings on instruments where the thumb is not a normal part of the fingering system -- for instance violin, or right-hand clarinet.

(Speaking of the latter -- I don't know if we're putting "see also" signs in the docs, but I think Fingering range should include a "see also" to U+E5F4 to U+E5F9 which are wind hole techniques.  If this were still in the bet

[2016-04-21 09:56] knutnergaard commented on #51
Notator, shouldn't there be alternate versions of these continuation accidentals with the arrow below, in which case they would exceed the 5 remaining code points?

[2016-04-21 11:03] notator commented on #51
No, Stockhausen never used a continuation arrow below the accidental. I've just checked the CLicht font that we used, and (apart from the standard accidentals) it only contains the above 15 characters.
(I made CLicht during the early/mid 1990s to be similar to my own handwriting. Stockhausen wanted to keep the "house style". If we had needed more characters, I would have made them and added them t

[2016-04-21 11:19] notator commented on #51
Comment on the "raised" and "lowered" accidentals:
In practice, when the small arrow landed on top of a staffline, I usually created some whitespace around it to make it stand out better. I think some fonts can now include such opaque white space in their characters. If so, future fonts that include these characters should also provide the whitespace, so that that doesn't have to be handled by the

[2016-04-21 11:30] knutnergaard commented on #51
Thanks!
Even if Stockhausen never used them, I can think of a couple of situations where 'arrow below' versions of these accidentals might come in handy, particularly in the context of multiple voices.

My next question, then, is if it perhaps would make sense to include them in SMuFL as unique characters or stylistic alternates.

Semantically, I think stylistic alternate versions would be suffici

[2016-04-21 11:42] notator commented on #51
I don't know enough about SMuFL to answer that.

[2016-04-21 11:56] knutnergaard commented on #51
I appreciate that, but I don't think the decision of whether or not to include them in SMuFL at all should be based on the technical limitations of the standard so much as practical experience in using these glyphs.

Based on your prior experience, do you think it makes sense to include them in order to better accommodate multiple voices on opposite stems for example?

[2016-04-21 12:12] notator commented on #51
Sorry, but the answer is no. I'm used to seeing the horizontal arrow above the accidental regardless of the direction of the notehead's stem.
As I said, I don't know enough about SMuFL to say whether your proposed alternate versions can/should be accomodated or not.

[2016-04-21 14:55] knutnergaard commented on #51
I see, thanks!

I'm not entirely sure I did get my point across, though, so to be sure, here's an image of a scenario which I think having directional alternates to these glyphs would be beneficial.

<img width="161" alt="skjermbilde 2016-04-21 kl 16 51 03" src="https://cloud.githubusercontent.com/assets/15194233/14713445/704a4872-07e1-11e6-96db-89d528a081c1.png">

[2016-04-22 12:33] notator commented on #51
I understood you correctly, but I can't remember this situation arising in a Stockhausen score. I think he would probably have stuck with the arrow-above version for both voices -- but one always had to be prepared for exceptions to be made to the rules! :-)
As I said, CLicht doesn't contain the characters you're suggesting, so they certainly weren't part of Stockhausen's standard repertoire. And

[2016-04-25 11:41] dspreadbury commented on #7
Upon further reflection, I have decided not to proceed with this change. As [I originally wrote when this was first requested](http://smufl-discuss.50501.x6.nabble.com/smufl-discuss-Re-Arrow-alignment-tc571.html), none of the various possibilities for standardising the registration of these arrows and arrowheads are ideal, and what tips the balance for me in favour of taking no action is that at t

[2016-04-25 11:41] #7 closed, assigned to dspreadbury

[2016-04-27 12:43] dspreadbury commented on #51
This has now been done. See [the new range](https://w3c.github.io/smufl/gitbook/tables/stockhausen-accidentals-24-edo.html).

[2016-04-27 12:43] #51 closed, assigned to dspreadbury

[2016-04-27 12:44] dspreadbury commented on #49
This has now been done. See the updated [Vocal techniques](https://w3c.github.io/smufl/gitbook/tables/vocal-techniques.html) range.

[2016-04-27 12:44] #49 closed, assigned to nobody

[2016-04-27 12:44] dspreadbury commented on #48
This has now been done. See the updated [Tremolos](https://w3c.github.io/smufl/gitbook/tables/tremolos.html) range.

[2016-04-27 12:44] #48 closed, assigned to nobody

[2016-04-27 12:44] dspreadbury commented on #44
This has now been done. See the new [Arabic accidentals](https://w3c.github.io/smufl/gitbook/tables/arabic-accidentals.html) range.

[2016-04-27 12:44] #44 closed, assigned to dspreadbury

[2016-04-27 12:45] dspreadbury commented on #43
This has now been done. See the updated [Dynamics](https://w3c.github.io/smufl/gitbook/tables/dynamics.html) range.

[2016-04-27 12:45] #43 closed, assigned to dspreadbury

[2016-04-27 12:45] dspreadbury commented on #42
This has now been done. See the updated [Dynamics](https://w3c.github.io/smufl/gitbook/tables/dynamics.html) range.

[2016-04-27 12:45] #42 closed, assigned to dspreadbury

[2016-04-27 12:46] dspreadbury commented on #36
This has now been done. Cut-outs for noteheads have been defined as part of Bravura version 1.204 and are included in the latest metadata files. Download the updated font redistributable [here](https://github.com/steinbergmedia/bravura/raw/master/releases/bravura-1.204.zip).

[2016-04-27 12:46] #36 closed, assigned to dspreadbury

[2016-04-27 12:47] dspreadbury commented on #35
This has now been done. See the new [Articulation supplement](https://w3c.github.io/smufl/gitbook/tables/articulation-supplement.html) range.

[2016-04-27 12:47] #35 closed, assigned to dspreadbury

[2016-04-27 12:47] dspreadbury commented on #34
This has now been done. See the new [Fingering](https://w3c.github.io/smufl/gitbook/tables/fingering.html) range.

[2016-04-27 12:47] #34 closed, assigned to dspreadbury

[2016-04-27 12:47] dspreadbury commented on #33
This has been done. See the updated [Multi-segment lines](https://w3c.github.io/smufl/gitbook/tables/multi-segment-lines.html) range.

[2016-04-27 12:47] #33 closed, assigned to dspreadbury

[2016-04-27 12:48] dspreadbury commented on #32
This has been done. See the updated [Function theory symbols](https://w3c.github.io/smufl/gitbook/tables/multi-segment-lines.html) range and the new [Function theory symbols supplement](https://w3c.github.io/smufl/gitbook/tables/function-theory-symbols-supplement.html) range.

[2016-04-27 12:48] #32 closed, assigned to dspreadbury

[2016-04-27 12:49] dspreadbury commented on #31
This has been done. See the updated [Conductor symbols](https://w3c.github.io/smufl/gitbook/tables/conductor-symbols.html) range.

[2016-04-27 12:49] #31 closed, assigned to dspreadbury

[2016-04-27 12:49] dspreadbury commented on #30
This has been done. See the updated [Percussion playing technique pictograms](https://w3c.github.io/smufl/gitbook/tables/percussion-playing-technique-pictograms.html) range.

[2016-04-27 12:49] #30 closed, assigned to dspreadbury

[2016-04-27 12:49] dspreadbury commented on #29
This has been done. See the updated [Harp techniques](https://w3c.github.io/smufl/gitbook/tables/harp-techniques.html) range.

[2016-04-27 12:49] #29 closed, assigned to dspreadbury

[2016-04-27 12:53] dspreadbury commented on #28
This has been done. See the updated [Keyboard techniques](https://w3c.github.io/smufl/gitbook/tables/keyboard-techniques.html) range.

[2016-04-27 12:53] #28 closed, assigned to nobody

[2016-04-27 12:54] dspreadbury commented on #27
This has been done. See the updated [Vocal techniques](https://w3c.github.io/smufl/gitbook/tables/vocal-techniques.html) range.

[2016-04-27 12:54] #27 closed, assigned to dspreadbury

[2016-04-27 12:54] dspreadbury commented on #26
This has been done. See the updated [String techniques](https://w3c.github.io/smufl/gitbook/tables/string-techniques.html) range.

[2016-04-27 12:54] #26 closed, assigned to dspreadbury

[2016-04-27 12:55] dspreadbury commented on #25
This has been done. See the updated [Brass techniques](https://w3c.github.io/smufl/gitbook/tables/brass-techniques.html) and [Wind techniques](https://w3c.github.io/smufl/gitbook/tables/wind-techniques.html) ranges.

[2016-04-27 12:55] #25 closed, assigned to dspreadbury

[2016-04-27 12:55] dspreadbury commented on #24
This has been done. See the updated [Extended Helmholtz-Ellis Just Intonation accidentals](https://w3c.github.io/smufl/gitbook/tables/extended-helmholtz-ellis-accidentals-just-intonation.html) range.

[2016-04-27 12:56] dspreadbury commented on #23
This has been done. See the updated [Other accidentals](https://w3c.github.io/smufl/gitbook/tables/other-accidentals.html) range.

[2016-04-27 12:56] #23 closed, assigned to dspreadbury

[2016-04-27 12:56] dspreadbury commented on #22
This has been done. See the updated [Round and square noteheads](https://w3c.github.io/smufl/gitbook/tables/round-and-square-noteheads.html) range.

[2016-04-27 12:56] #22 closed, assigned to dspreadbury

[2016-04-27 12:57] dspreadbury commented on #21
This has been done. See the new [Turned time signatures](https://w3c.github.io/smufl/gitbook/tables/turned-time-signatures.html) and [Reversed time signatures](https://w3c.github.io/smufl/gitbook/tables/reversed-time-signatures.html) ranges.

[2016-04-27 12:57] #21 closed, assigned to dspreadbury

[2016-04-27 12:57] dspreadbury commented on #20
This has been done. See the updated [Octaves](https://w3c.github.io/smufl/gitbook/tables/octaves.html) range.

[2016-04-27 12:57] #20 closed, assigned to dspreadbury

[2016-04-27 12:57] dspreadbury commented on #19
This has been done. See the updated [Slash noteheads](https://w3c.github.io/smufl/gitbook/tables/slash-noteheads.html) range.

[2016-04-27 12:57] #19 closed, assigned to dspreadbury

[2016-04-27 13:05] dspreadbury commented on #18
This has been done. See the new (https://w3c.github.io/smufl/gitbook/tables/shape-note-noteheads-supplement.html) range.

[2016-04-27 13:05] #18 closed, assigned to dspreadbury

[2016-04-27 13:06] dspreadbury commented on #17
This has now been done. See the updated [Keyboard techniques](https://w3c.github.io/smufl/gitbook/tables/keyboard-techniques.html) range.

[2016-04-27 13:06] #17 closed, assigned to dspreadbury

[2016-04-27 13:06] dspreadbury commented on #16
This has now been done. See the updated [Time signatures supplement](https://w3c.github.io/smufl/gitbook/tables/time-signatures-supplement.html) range.

[2016-04-27 13:06] #16 closed, assigned to dspreadbury

[2016-04-27 13:07] dspreadbury commented on #14
This has now been done. See the updated [Guitar](https://w3c.github.io/smufl/gitbook/tables/guitar.html) range.

[2016-04-27 13:07] #14 closed, assigned to dspreadbury

[2016-04-27 13:07] dspreadbury commented on #11
This has now been done. See the updated [Clefs](https://w3c.github.io/smufl/gitbook/tables/clefs.html) range.

[2016-04-27 13:07] #11 closed, assigned to dspreadbury

[2016-04-27 13:08] dspreadbury commented on #10
This has now been done. See the updated [Standard accidentals (12-EDO)](https://w3c.github.io/smufl/gitbook/tables/standard-accidentals-12-edo.html) range.

[2016-04-27 13:08] #10 closed, assigned to dspreadbury

[2016-04-27 13:08] dspreadbury commented on #9
This has now been done. See the updated [Figured bass](https://w3c.github.io/smufl/gitbook/tables/figured-bass.html) range.

[2016-04-27 13:08] #9 closed, assigned to dspreadbury

[2016-04-27 13:09] dspreadbury commented on #8
This has now been done. See the updated [Clefs](https://w3c.github.io/smufl/gitbook/tables/clefs.html) range.

[2016-04-27 13:09] #8 closed, assigned to dspreadbury

[2016-04-30 03:48] SalahAdDin commented on #44
:+1:

[2016-05-03 13:43] knutnergaard commented on #24
Are the glyphs in E2F9–E2FB designed to be combined with the other glyphs in the same range, or are they designed be used in a string of text? Just wondering why they are designed bigger and bolder than the other symbols in the range in the Bravura font, and cannot find a relevant example of their use anywhere, except for in explanatory supplemental text.

[2016-05-03 14:13] dspreadbury commented on #24
I believe they are meant to be used in combination with the other glyphs in the range. I'll check with Marc Sabat to make sure their proportions are correct.

[2016-05-03 18:04] knutnergaard commented on #24
Thanks, Daniel.

There also seems to be some inconsistency regarding the registration of certain symbols in this range. The shapes based on common accidentals are correctly centered around the base line, while many of the other characters are offset according to their positions in this document (which I assume is the model): http://www.marcsabat.com/pdfs/notation.pdf

[2016-05-10 15:35] d7z5 commented on #45
Byzantine music is a great treasure of the music history in general. I suggest adding this even if it is not written on the staff system at all.

[2016-05-12 10:59] axgeertinger opened #54 "Add reverse accent to articulation"
I suggest adding a mirrored version of the standard accent. Among others, Danish composer Peter Heise (1830–1879) frequently uses it (see example from his third string quartet).
![heise_articulation](https://cloud.githubusercontent.com/assets/3779074/15212495/46f3fcb4-1841-11e6-8be1-27e5e3a70bfb.png)

[2016-05-12 14:10] mscuthbert commented on #54
Is this just a handwritten variation?  If so, SMuFL usually doesn't include them, except perhaps as suggested graphical variants; for instance, the much much more common reverse flagged notes aren't included as far as I know.  Or does it have musical signfiicance?

[2016-05-13 07:55] axgeertinger commented on #54
Oh, I see your point. I don't know of any printed examples (but I haven't done any research on that). Whether it has musical significance or not is not entirely clear, so it may very well be just a graphical variant. In that case, the only reason to include it may be that it would enable us to also create the fairly common short 'messa di voce' sign <> as used by Schumann, Mendelssohn, Brahms, Elg

[2016-05-26 14:53] dspreadbury opened #55 "Reorganise Herculean, Olympian, and Magrathean extension Sagittal ranges to accommodate 38 glyphs in Magrathean range"
Reported by Dave Keenan (along with George Secor the co-creator of Sagittal):

"I just noticed that in the [Magrathean Sagittal extension](https://w3c.github.io/smufl/gitbook/tables/magrathean-sagittal-extension-insane-precision-accidental-diacritics.html) part of SMuFL, we have:

"This range is reserved for the future definition of 38 glyphs ..."

and yet the range only includes 16 codepoints, fr

[2016-07-19 08:21] dspreadbury opened #56 "Add "S on stem" notation used for one-handed rolls when writing for marimba"
Requested by Kim Bastin:

"I’ve got SMuFL version 1.18, and I don’t find in it any reference to the marimba notation known as the Stevens roll. It involves stems with ellipses or S shapes drawn through them to indicate how a roll is to be divided between the hands and sticks. I have seen examples in manuscript music from the 1980s and later, and I understand it is well recognised among marimba pla

[2016-08-03 13:46] JAngermueller opened #57 "Missing symbol "Combining Flag 1 (8th) below (short)""
Is there a reason for omitting the stylistic alternate for an 8th flag below (short) ? Shouldn't it be the mirrored version of the 8th flag above (short) symbol ? The slot would be uniE241.ss02.

[2016-08-03 22:36] dspreadbury commented on #57
The stylistic set of short flags is really intended to handle the situation where a flagged note has a rhythm dot; because the flag on a down-stem note tucks into the notehead, there's no danger of a collision between the tip of the flag and the rhythm dot, so the stylistic set for short flag consequently only includes up-stem flags. These are only recommended rather than required glyphs in any ca

[2016-08-03 22:36] #57 closed, assigned to nobody

[2016-08-03 23:31] MTDougherty opened #58 "Proposal to Encode Kahnotation"
[code]

Symbol specifics and examples are attached.
[EE-D7.mscz.pdf](https://github.com/w3c/smufl/files/400511/EE-D7.mscz.pdf)
[ShimSham-Weber-D7.xlsx.pdf](https://github.com/w3c/smufl/files/400514/ShimSham-Weber-D7.xlsx.pdf)
[ShimSham-Weber-D7.pdf](https://github.com/w3c/smufl/files/400515/ShimSham-Weber-D7.pdf)

[MusicXML_Proposal_to_Encode_Kahnotation-D8.pdf](https://github.com/w3c/smufl/files/

[2016-08-05 06:38] pavelstudeny commented on #58
Are the Kahnotation symbols included in Unicode, first of all? I can't find them.

[2016-08-05 06:54] MTDougherty commented on #58
They are not in unicode.

[2016-08-05 07:04] MTDougherty commented on #58
Here is the typetool font file.
[KahnotationV3.vfb.zip](https://github.com/w3c/smufl/files/403270/KahnotationV3.vfb.zip)

The font contains symbols that are not part of the proposal. For example "1234567890&e" used to describe time counting in a spreadsheet; but not needed when notating with standard musical notation software because one uses measures, triplets, quarter notes, etc.

[2016-08-05 12:20] Jojo-Schmitz opened #59 "http://www.smufl.org seems broken"
It tries to download something strange (some random filename with something that looks like gzipped content, but doesn't show any (html-) content. http://www.smufl.org/about works though

[2016-08-05 15:51] mdgood commented on #58
Thank you for this most interesting proposal!

Before adding this to either SMuFL or MusicXML, I would like to see more investigation about the usage of different dance and tap dance symbol systems. If this is indeed a commonly used standard format in the tap dance community, often used together with common Western music notation, then it seems like a promising idea. On the other hand, if this is

[2016-08-05 15:53] mdgood commented on #59
It's working fine for me here. Maybe a temporary hiccup?

[2016-08-05 16:24] Jojo-Schmitz commented on #59
No, still the same for me, on 2 different PCs with 2 different Browsers (Windows 10/Edge, Windows 7/IE11).

Hmm, works now with Windows 10/Edge, but still not with Windows 7/IE11

Works with Windows 10/IE11 too now, strange

While my Windows 7/IE 11 machine still fails to access http://www.smulf.org, even after a reboot

[2016-08-05 21:59] Jojo-Schmitz commented on #59
OK, now it works again, even on my Windows 7/IE11 machine.

[2016-08-05 22:50] MTDougherty commented on #58
Here is a rough historical perspective.  Music notation is far more evolved and cohesive.  Dance notations go back barely five hundred years and are fragmented with no coherency, only in the last 120 years they have become formalized. Unfortunately there has been no figure like Bach to unify dance notation to music notation.  I would estimate around 100 systems have been developed, all incompatibl

[2016-08-08 08:27] ianpartridge commented on #59
I still see this using Chrome on macOS.  My browser downloads `download.gz` when I go to `www.smufl.org`

[2016-08-08 08:28] Jojo-Schmitz commented on #59
I see this again too now (Windows 10, Windows 7, IE 11, but not with Windows 10 / Edge))

[2016-08-08 08:30] lasconic commented on #59
Same here. MacOSX 10.11.6, Chrome 52 or Firefox latest stable, or Safari

[2016-08-08 08:38] dspreadbury commented on #59
I've hopefully fixed this problem now. (Apparently caused by an out-of-control cache in one of the WordPress plug-ins running on the site.)

[2016-08-08 08:38] #59 closed, assigned to nobody

[2016-08-09 19:13] pavelstudeny commented on #58
Unicode support should be a necessary condition and even then it would be a question whether SMuFL scope should include all kinds of musical symbols, like byzantine music notation (supported by Unicode) or Kahnotation. Probaby not, at least at this stage.

[2016-08-09 21:58] dspreadbury commented on #58
@pavelstudeny, I couldn't disagree with you more. SMuFL exists principally because Unicode itself does not encode a sufficient quantity of the music notation symbols in common (or even uncommon) usage in what you might loosely term Common Western Music Notation (or CWMN to its friends). The vast majority of the symbols encoded in SMuFL are not encoded in Unicode, and pre-existing inclusion in Unic

[2016-08-10 07:28] pavelstudeny commented on #58
Ok, apologies, point taken.

[2016-09-25 16:07] peterstadler opened #60 "alternate Codepoint missing for quindicesimaAlta"
That should be U+1D138 as it was in release 1.18.
I just noticed that difference between the two versions of glyphnames.json but didn't do any further investigation …

[2016-09-26 16:47] dspreadbury opened #61 "Add character used to show where lines of text are repeated in e.g. hymnals"
Requested by Neil Sands.

[This picture](https://imgur.com/a/0sJPj) shows how this symbol looks: it is used in e.g. the English Hymnal to show where in the music a line of text is repeated.

This could be added to the existing Lyrics range.

[2016-10-07 06:57] lasconic opened #62 "Add glyphs for repeat bar slash and dots"
MusicXML supports an [arbitrary number of slashes](http://usermanuals.musicxml.com/MusicXML/Content/CT-MusicXML-measure-repeat.htm) while SMuFL only has [3 different glyphs](https://w3c.github.io/smufl/gitbook/tables/bar-repeats.html) for 1, 2 and 4 bars repeat.

[2016-10-07 14:32] mscuthbert commented on #62
Should there thus be glyphs for the initial dot, for the repeat slash, and for the final dot, so that any number of repeat measures can be constructed?  That would be the ideal, but I don't know if they can be kerned that closely.

[2016-10-12 11:20] JAngermueller opened #63 "Figured bass double sharp bigger than standard double sharp ?"
Is it correct that the figured bass double sharp (U+ea67) in Bravura is bigger (about 3%) than the standard double sharp (U+e263) while all the other figured bass accidentals are significantly smaller (about 20%) than the standard accidentals ?
![accidentals bravura](https://cloud.githubusercontent.com/assets/18441941/19308156/7b857844-907e-11e6-962b-4406cdd3f293.jpg)

I am currently working on an

[2016-11-09 02:54] Qantas94Heavy commented on #38
Does this present any limitations for the use of the metadata files in open source projects?

[2016-11-09 09:40] dspreadbury commented on #38
No, there are no limitations on the use of SMuFL or its metadata files in open source projects.

[2016-11-29 11:35] dspreadbury opened #64 "Add range of characters for scale degree numerals, with circumflex above"
Requested by Knut Nergaard:

"SMuFL does not presently contain numerals with circumflex to denote scale degrees:

<img width="683" alt="scale-degrees" src="https://cloud.githubusercontent.com/assets/1312874/20708455/efb1aed0-b627-11e6-9bba-b0f3ab680d64.png">

I think this would be a welcome addition, as very few text fonts seem to include them.
The function theory supplement range is probably the

[2017-01-20 16:09] ellberg opened #65 "add SSMN1.0 to SMuFL"
This SSMN1.0 font has been developed in order to notate symbols dedicated to sound spatialization parameters. OSC messages are attached to certain symbols now hosted in MuseScore 3 prototype (unreleased).
https://www.zhdk.ch/index.php?id=icst_ssmn_e
[ssmn1_0.zip](https://github.com/w3c/smufl/files/719814/ssmn1_0.zip)

[2017-01-25 17:28] mdgood opened #66 "Add MusicXML "triangle beater plain""
While working on adding [MusicXML support](https://github.com/w3c/musicxml/issues/85) for the SMuFL [beaters pictograms range](http://w3c.github.io/smufl/gitbook/tables/beaters-pictograms.html), I saw that SMuFL does not yet have an equivalent for the MusicXML "triangle beater plain" beater value. This is the plain slanted triangle beater glyph without the triangle, as shown on p. 211 of Kurt Ston

[2017-01-26 10:53] SeeLook opened #67 "Bug: Ligatures of 9/4 and 9/8 have empty numerator"
Hi
It is visible even in online book:
https://w3c.github.io/smufl/gitbook/tables/time-signatures.html
timeSig9Denominator and timeSig9Numerator are empty,
so it it impossible in text-based application to produce 9/4 9/8 meter symbols.
Other ligatures for time sign. work fine.

Is there any workaround for it?

[2017-01-27 22:45] dspreadbury commented on #67
Sorry about this error. I've now fixed it in both Bravura and Bravura Text, [version 1.211](https://github.com/steinbergmedia/bravura/raw/master/releases/bravura-1.211.zip).

[2017-01-27 22:45] #67 closed, assigned to nobody

[2017-02-04 00:45] knutnergaard opened #68 "Symbol for 'semi-sprechgesang' (Halb gesungen)."
While SMuFL does contain the common symbol for 'sprechgesang', it lacks the small slash trough the stem used by at least some composers in the Second Viennese School to denote a kind of 'semi-sprechgesang' (dubbed Halb gesungen in Berg's Lulu).

The symbol resembles a tremolo slash, although it's substantially smaller.

[2017-02-19 05:23] Glenn-smufl opened #69 "2 versus 4 repeat dots"
SMuFL seems to prefer the 2 dot repeat dots over the 4 dot repeat dots. I grew up seeing mostly 4 dot repeat dots. I'm surprised that there isn't a 4 dot repeat dots glyph at least in the standalone form, even if not precomposed.  Of course, one can synthesize 4 dot repeat dots from the single repeat dot, or even the double repeat dot, so this is not a catastrophe, just an inconvenience.

[2017-03-07 22:08] dspreadbury opened #70 "Clarify legerLineExtension should scale according to notehead size"
Joe Berkovitz says:

"What is the spec's intent for the interpretation of legerLineExtension ("The amount by which a leger line whould extend either side of a notehead") for grace or cue notes? Is it expected that this value would be proportionally adjusted to reflect any scale factor applied to the note heads? I didn't find any explicit language to that effect."

It is indeed intended that this v

[2017-03-25 09:58] lpugin opened #71 "Cut-out values in version 1.204"
I have some troubles understanding some cut-out values in the version 1.204 of Bravura. For example, for the accidental natural the values are
[code]
Which does not really make sense. See http://www.smufl.org/version/latest/glyph/accidentalNatural/

Values in version 1.02 were
[code]
What has changed between the two versions?

[2017-04-04 08:56] dspreadbury commented on #71
Thanks for bringing this to my attention. It was caused by an error in the script I used to export these values from FontLab.

[Fixed in commit 95d4644](https://github.com/steinbergmedia/bravura/commit/95d46447a4bcb7d91078aea90d98db87b7aa9ff6).

[2017-04-04 08:56] #71 closed, assigned to nobody

[2017-04-04 09:38] knutnergaard commented on #71
Is this issue still present in the script available in this repository?

[2017-04-04 09:38] dspreadbury commented on #71
No, the script in the repository is OK.

[2017-04-04 09:47] lpugin commented on #71
I think the previous change was reported here https://github.com/steinbergmedia/bravura/commit/c889f8e8537f2b446ec4a3931599907f195799cd

[2017-07-01 10:04] dspreadbury opened #72 "Add German organ tablature range to SMuFL"
Proposed by @jmckean83:

About two years ago I first floated the idea of adding a range dedicated to German organ tablature to the SMuFL specification in a message posted to the smufl-discuss list. Since then, I have discussed my ideas in person with Daniel and several organ tablature experts, and have produced two organ tablature fonts. I feel the time is now right to make a formal proposal to th

[2017-07-20 17:53] mdgood opened #73 "Missing some beater glyphs in different orientations"
When mapping our Finale Mallets font to SMuFL, we found that a few additional characters in addition to the triangle beater plain #66 were missing:

- Chime hammer facing down (e.g. pictBeaterMalletDown)
- Brass mallet facing left (e.g. pictBeaterBrassMalletsLeft)
- Brass mallet facing right (e.g. pictBeaterBrassMalletsRight)

Could these please be added to SMuFL in the beaters range?

[2017-08-06 06:52] Jojo-Schmitz opened #74 "Is "possibile" a typo, or just the Italian spelling?"
in https://github.com/w3c/smufl/blob/gh-pages/metadata/glyphnames.json#L9609-L9614 the word `possibile` is seen in the glyph name and its description:

* stringsOverpressurePossib**i**leDownBow  "Overpressure possib**i**le, down bow"
* stringsOverpressurePossib**i**leUpBow  "Overpressure possib**i**le, up bow"

Shouldn't that rather be `possible`, i.e. the English spelling?

This question/discussi

[2017-08-06 09:41] seralf commented on #74
Hi possibile is the italian for possible

Alfredo

Il domenica 6 agosto 2017, Joachim Schmitz <notifications@github.com> ha
scritto:

--
Inviato da Gmail Mobile

[2017-08-06 09:58] Jojo-Schmitz commented on #74
I 'm aware that `possibile` is Italian for the English `possible`, but is it really here in this context and on purpose? Is there any proof for this claim, any definite and respected source?
If there is, the description text might better be "Overpressure 'possibile', down/up bow", i.e. enclosed in quotes.

[2017-08-06 15:18] mscuthbert commented on #74
Instead of translating as "possible" in this context, "possibile" has the connotation of "as much as possible."

[2017-08-07 08:07] Jojo-Schmitz commented on #74
Thanks, that connotation is way to subtle for a non-native speaker like me, but seems to make perfect sense when comparing the glyphs string{Up,Down)Bow, stringsOverpressure{Up,Down}Bow and stringsOverpressurePossiblile{Up,Down}Bow, they do indicate an increase. I guess with that I rest my case ;-)

[2017-08-07 08:07] #74 closed, assigned to nobody

[2017-08-07 11:54] mirabilos commented on #74
Might be useful to change the description to “Overpressure as much as possible, down bow”, but thanks for clarifying.

[2017-10-24 16:10] dspreadbury commented on #69
The only reason the two repeat dots are included in SMuFL are because they were present in the original Unicode Musical Symbols range of which SMuFL is a superset. I don't think we need to add a specific character for four repeat dots.

[2017-10-24 16:10] #69 closed, assigned to nobody

[2017-10-31 08:19] edique opened #76 "How to control vertical position of the accidentals？"
Hello！How to control vertical position of the accidentals？I‘m using smufl in my website. I don't know how to adjust the position of character in html.Thank you!

[2017-11-03 00:30] dspreadbury commented on #76
Please refer to the [specification](https://w3c.github.io/smufl/gitbook/specification/scoring-metrics-glyph-registration.html) for help with glyph registration. Bravura follows the specification in this regard.

Basically you should find that noteheads and accidentals are aligned appropriately, with the centre of the notehead and the centre of the accidental being aligned vertically with the font

[2017-11-04 16:07] edique commented on #76
Thank you！But I have a stupid question, can you direct me how to use Combining staff positions to shift the notes in staves（on WebPage）? I have tried html code "&#xEB92;&#xE1D7;&#xE017;". but it didn't work. and i can't find examples in specification, can you help me? if you can share me a sample, i will fully appreciate that!

[2017-11-05 16:22] edique commented on #76
I try this style: "U+EB99U+E0A4"(as &#x html entity in html).But It didn't work as I expected that  a black notehead at the G4 staff position.The black notehead was still on the default position.

[2017-11-05 16:39] mscuthbert opened #77 "Beamed groups of notes without noteheads (and other variants)"
Looking at the Bach family of fonts at http://www.mu.qub.ac.uk/tomita/bachfont/BF-family.htm there appears to be a desire for several other supplements to Beamed groups of notes (U+E1F0 to U+E20F) of which one group (Kodaly) seems particularly useful -- the same set of notes but without noteheads.  I could imagine these being used in scores to show beat patterns or metronome changes as well.

The

[2017-11-06 02:30] edique opened #78 "how to use Combining staff positions to shift the notes in staves（on WebPage）?"
I try this style: "U+EB99U+E0A4"(as &#x html entity in html).But It didn't work as I expected that a black notehead at the G4 staff position.The black notehead was still on the default position.Thank you!

[2017-11-06 12:35] dspreadbury commented on #78
Please don't duplicate issues. This is a duplicate of #76.

[2017-11-06 12:35] #78 closed, assigned to nobody

[2017-11-06 13:02] edique commented on #76
Sorry, I think #76 is closed.I try shift the time signature is ok but did not work for the note head.

[2017-11-25 03:04] edique commented on #76
Hello！I try shift the time signature is ok but did not work for the note head with staves.Could you help me?Thank you！

[2018-01-05 10:03] lasconic opened #79 "Add refrain and versicle symbols"
SMuFL is missing Versicle ℣ (U+2123) and Response (Refrain) ℟ (U+211F). These symbols are used in responsorial psalms apparently.
Maybe it has been considered but abandoned since they are in Unicode already. I'm not sure what the policy is. Can someone clarify?

### References

* See measure 39 http://www.mutopiaproject.org/ftp/NaujalisJ/O7/naujalis-popule-meus/naujalis-popule-meus-let.pdf
* https

[2018-01-05 17:17] mscuthbert commented on #79
I considered suggesting it when we did the med-ren areas, since they're very common, but because they were also in Unicode, I didn't.  They're good to have in the SMuFL range because they interact with musical symbols, but they generally match the metrics of a text font, so I wouldn't, for instance, use the SMuFL code point if my lyric font had these symbols in them.

[2018-01-13 21:39] Glenn-smufl opened #80 "Support for numbered musical notation?"
On 1/12/2018 5:32 PM, Marek Ledvina wrote:

I've noticed the lack of solfege support in those noteheads also, when looking for characters for the very related topic of the various tonic sol-fa and numbered notations.  While the simplest forms of tonic sol-fa were designed to be "typeset" by using a typewriter

|  do re mi  - |

|   1  2  3  - |

other forms use a bit more complex notation.  There

[2018-01-19 09:51] twxs opened #81 "Add guitarString10"
SMuFL is missing the guitarString10 used for ten strings guitar tunings.
<img width="290" alt="capture d ecran 2018-01-19 a 10 50 12" src="https://user-images.githubusercontent.com/4801541/35145022-93696a4c-fd06-11e7-8739-1a2d235396bd.png">

https://en.wikipedia.org/wiki/Ten-string_classical_guitar_of_Yepes

[2018-01-19 10:02] knutnergaard commented on #81
I'm not sure of any practical precedence for this, but wouldn't it also make sense to add the numbers 11 and 12 for any alternate 12-string guitar tunings?

[2018-01-19 10:17] twxs commented on #81
12-string guitars are numbered like a 6 string guitar.

According to our user base, over the last decade, nobody asked for more than 10 strings.

But you could find 11-string and 13-string guitars...

[2018-02-01 02:27] ledvinam opened #82 "Chromatic Solfege"
Hello,

we are unable to have correctly rendered chromatic solfege on a staff if we use accidentals in given key. Also for Minor keys the current solfege noteheads are not complete. I can not for example "visually" sing Minor3rd.

“do, di, re, ri, mi, fa, fi, so(l), si, la, li, ti, (do)” and “do, ti, te, la, le so(l), se, fa, mi, me, re, ra (do)"

Thank you, Marek.

[2018-02-07 09:04] JAngermueller opened #83 ""Beamed Groups of Notes" should include all possible tuplet numbers"
It would be great if SMuFL supported other tuplet numbers in the "Beamed Groups of Notes" range (i.e. for tempo indications). At least the "6" is very common in tempo indications.
But other numbers may also come up as in this thread from the finaleforum.com:
http://www.finaleforum.com/viewtopic.php?f=5&t=16179
http://www.finaleforum.com/download/file.php?id=4800

[2018-02-07 09:17] JAngermueller opened #84 "Tuplet bracket extension for "Beamed Groups of Notes""
There should be bracket extensions (i.e. without start/end hooks) for textTupletBracket...Stem to be able to have tuplet brackets span multiple notes.

[2018-03-01 16:20] SamuelMiller commented on #82
I support adding the missing chromatic solfege noteheads.

From my post on musescore,org (https://musescore.org/en/comment/822536#comment-822536)--
It is standard practice when sharpening solfege syllables to change the vowel sound to "i", pronounced as a long "e" as in "see". And when flattening to change the vowel to "e", pronounced as a long "a" as in "table". Since Re already has an "e" vowel,

[2018-03-23 17:13] zolaemil opened #85 "Mapping fingering codepoints to fingers"
The [fingering range](http://www.smufl.org/version/latest/range/fingering/) suggests a mapping between the code points and the actual fingers, e.g. `fingering1` is mapped to "thumb". However, on stringed instruments where the thumb is not normally used (e.g. violin, guitar), symbol `1` indicates the index finger,`2` indicates the middle finger, and so on.

Should this mapping be considered optiona

[2018-03-23 17:34] zolaemil opened #86 "Distinguishing between identical glyphs 'above' and 'below'"
There are some [articulations](http://www.smufl.org/version/latest/range/articulation/) which have two code points, but not one generic without the notion of placement, e.g.`articAccidAbove` and `articAccidBelow`. However, there are situations when we don't know, or indeed don't care about the placement of the symbol in relation to surrounding notes.

Is there any commonly accepted practice for su

[2018-03-24 09:17] dspreadbury commented on #86
I suspect there is no completely general answer to this, but my recommendation would be to use the "above" version if the placement is unknown or cannot be determined.

[2018-03-24 09:17] #86 closed, assigned to nobody

[2018-03-24 09:19] dspreadbury commented on #85
The canonical names of the glyphs cannot really be expected to fully define all of the contexts in which a given character may be used. We could, I suppose, add an 'Implementation notes' section to this range that explains in more detail how the various fingering conventions work for different instruments, but my gut feeling is that this is probably unnecessary.

[2018-03-24 09:19] #85 closed, assigned to nobody

[2018-03-24 09:38] dspreadbury commented on #80
If you are willing to contribute the work you have done on adding support for numbered music notation to SMuFL, that would be very helpful. Could you please provide a description of each of the required characters? We will need to assign a new range of code points, but otherwise the descriptions should hopefully be possible to translate fairly easily to SMuFL. If you are also willing to share the

[2018-03-24 09:43] dspreadbury commented on #76
Please accept my apologies for the long delay in returning to this issue.

In theory I believe you should be able to use the same approach of including entities for the two code points, i.e. the notehead and the combining staff position, and the font shaper/renderer should produce the appropriate ligature character defined in the font.

However, I'm afraid I don't have any experience of this. What

[2018-03-24 09:43] #76 closed, assigned to nobody

[2018-03-24 09:45] dspreadbury commented on #63
It is intentional, certainly, in order to try to make the double sharp as legible as possible.

[2018-03-24 09:45] #63 closed, assigned to nobody

[2018-03-24 09:48] dspreadbury commented on #60
Thanks for reporting this, Peter. Some data has gone missing. I will ensure this is corrected in the next version of the metadata.

[2018-03-24 09:50] dspreadbury commented on #45
Byzantine music notation has been added to Unicode: see [here](https://www.unicode.org/notes/tn20/). Consequently I don't think we need to duplicate this encoding work in SMuFL.

[2018-03-24 09:50] #45 closed, assigned to nobody

[2018-03-24 09:52] dspreadbury commented on #46
See also issue #2.

[2018-03-24 09:57] dspreadbury commented on #56
Addressed with pull request #75

[2018-03-24 09:57] #56 closed, assigned to dspreadbury

[2018-03-24 09:57] dspreadbury commented on #58
Addressed with pull request #75

[2018-03-24 09:57] #58 closed, assigned to dspreadbury

[2018-03-24 09:57] dspreadbury commented on #61
Addressed with pull request #75

[2018-03-24 09:57] #61 closed, assigned to dspreadbury

[2018-03-24 09:57] dspreadbury commented on #62
Addressed with pull request #75

[2018-03-24 09:57] #62 closed, assigned to dspreadbury

[2018-03-24 09:57] dspreadbury commented on #66
Addressed with pull request #75

[2018-03-24 09:57] #66 closed, assigned to dspreadbury

[2018-03-24 09:58] dspreadbury commented on #70
Addressed with pull request #75

[2018-03-24 09:58] #70 closed, assigned to dspreadbury

[2018-03-24 09:58] dspreadbury commented on #72
Addressed with pull request #75

[2018-03-24 09:58] #72 closed, assigned to dspreadbury

[2018-03-24 09:58] dspreadbury commented on #68
Addressed with pull request #75

[2018-03-24 09:58] #68 closed, assigned to dspreadbury

[2018-03-24 09:58] dspreadbury commented on #73
Addressed with pull request #75

[2018-03-24 09:58] #73 closed, assigned to dspreadbury

[2018-03-24 10:12] dspreadbury opened #87 "United Sound modified music notation"
This range has been proposed by [CJ Garcia](mailto:cgarcia@makemusic.com) of MakeMusic, who has been working with Julie Duty of [United Sound](http://www.unitedsound.org/) to develop a new system of modified music notation to help engage children with special educational needs.

CJ says:

Attached is a proposal from CJ for how this range could be encoded, as the basis for a proposed SMuFL range fo

[2018-03-29 12:46] rettinghaus opened #88 "Add Glyph for Mensural Proportion 8"
Though it is rarely used, there is the proportion number 8 glyph (`mensuralProportion8`) missing in `Medieval and Renaissance prolations`, as discussed here: rism-ch/verovio/issues/288

[2018-03-29 16:09] mscuthbert commented on #88
This sign appears famously in the 9/8 proportion in Tout par Compass (in the shape of a circle) or Belle Bonne Sage (in the shape of a heart) by Baude Cordier.  I'm not 100% convinced at the beginning that we need these proportion numbers since they can be conveyed w/ regular font numbers (unlike the C C-dot, etc.) but since we have them, I think that a full set of digits would be good to have.  T

[2018-03-31 07:13] Glenn-smufl commented on #80
I'll gather things up and submit.

[2018-04-05 22:00] edellaq opened #89 "Add glyphs for fretboard diagrams (guitar, bass, ukulele, lute, etc. )"
With a relatively small number of glyphs it could be implemented a system to write fretboard diagrams in a quite flexible way.

Being a guitarist myself, I already developed on my own a prototype, that I currently use, and I'd love to see it integrated in the main official font.

here the link to the files
[http://enricodellaquila.blogspot.it/p/my-fonts-page-for-guitar.html](url)

and some example

[2018-04-08 23:24] dspreadbury opened #90 "Clarify specification of the origin point for glyph cut-outs"
Reported by [Erik Ronström](mailto:erik@ompom.se). Regarding cut-outs, the SMuFL spec says:

However, it doesn’t explicitly state the origin of the coordinate system. IMO, it would make most sense to use the same origin as the glyph’s origin. But using the metadata for Bravura 1.204, this gives wrong results. It looks like the cut-outs in Bravura are instead measured from the bottom-left corner of

[2018-04-09 07:51] lpugin commented on #90
How does this relate to #71 ? Are you suggesting to change (back?) to the glyph origin? I think it would indeed be more inline with what font editors normally produce.

[2018-04-09 08:17] dspreadbury commented on #90
It doesn't change anything about #71: it simply entails making it explicit in the spec what point the cut-outs are relative to.

[2018-04-27 02:08] kkkllleee opened #91 "I need pertinent information (like evidence, semantics and names) for unencoded musical symbols"
I have a passion to write Unicode proposals, and I noticed that you still have many unencoded symbols that you manage through PUA. This is not ideal, since anybody can make a font with different semantics using those same codepoints. Having the font refer to encoded points would greatly alleviate the amount of documentation one would need, since those characters may have that information build in.

[2018-04-30 21:20] JDLH commented on #91
I would advice caution about assuming that SMuFL using PUA codepoints is a bad thing, and that anyone should automatically make it a priority to propose encoding a character in Unicode simply because SMuFL uses it.

Will encoding symbols help SMuFL? "The goal of SMuFL is to establish a new standard glyph mapping for musical symbols that is optimised for modern font formats and that can be adopted

[2018-04-30 23:20] kkkllleee commented on #91
@JDLH I need to remind you that Unicode encoded many musical symbols exclusive to kievan notation and the proposal did not include examples in plain text.

[2018-04-30 23:54] JDLH commented on #91
Re: kievan notation, how does that bear on encoding symbols which SMuFL assigns to PUA codepoints?  It sounds like you are making an argument that getting encoded Unicode codepoints is a benefit that Kievan notation received, and so for fairness or prestige, the notation symbols in SMuFL should get the same benefit. That may not be what you intend, but that's what I think your last comment sounds

[2018-05-01 02:51] kkkllleee commented on #91
@JDLH Think about it this way, the Unicode character set is like a library of all elements necessary for all of writing of all humanity (with certain restrictions), so it is always great to extend your library to accomodate a bigger userbase. Part of the consortium's goal is to make it so interchanging information on minority scripts (such as Hanifi), or archaic scripts (like Cuneiform), is made a

[2018-05-23 23:41] Glenn-smufl commented on #80
Attached are several files.

CHBJ.ttf  our numbered notation font. Since the current project is Chinese, and their numbered notation is called jianpu, you will see jianpu in the other files, and the J in this name is for jianpu.

[CHBJ.ttf.zip](https://github.com/w3c/smufl/files/2033164/CHBJ.ttf.zip)

CHBJ-spec.ods  gives a complete list of the character codes that we have assigned, and would expe

[2018-06-01 19:39] julieduty commented on #87
Hello. I am the originator and copyright holder of the font and I give permission for it to be included in SMuFL.
Julie Duty

[2018-07-17 15:26] dspreadbury opened #92 "Add Nancarrow's "sine" notehead for notes of five 8ths or 16ths in duration"
Conlon Nancarrow used a special "sine" notehead to represent a note of e.g. five eighths or five sixteenths. We should consider adding these to SMuFL:

![nanc 5u notehead 1a](https://user-images.githubusercontent.com/1312874/42827042-a3ddab5e-89dd-11e8-8a24-4341adc4b31b.png)
![nanc 5u notehead 1b](https://user-images.githubusercontent.com/1312874/42827043-a3fe0598-89dd-11e8-8cf3-7b13f90dcda9.png)

[2018-07-17 15:29] dspreadbury opened #93 "Add Cowell's noteheads for irrational notations from "New Musical Resources""
Henry Cowell devised a set of noteheads to be used instead of tuplets in his book "New Musical Resources". We should consider adding these to SMuFL.

![cowell notehead shape table](https://user-images.githubusercontent.com/1312874/42827471-5f9d50b0-89de-11e8-87e3-62ba26194d65.png)

[2018-09-05 09:40] zolaemil opened #94 "Breath mark"
I am looking for breath mark for singing, usually displayed as tick (similar to ✓). Is this symbol supported at all?

[2018-09-05 10:47] lasconic commented on #94
Yes. See U+E4CF *breathMarkTick* http://w3c.github.io/smufl/gitbook/tables/holds-and-pauses.html

[2018-09-05 12:04] zolaemil commented on #94
Ah-ha! I was looking for it at the wrong place then, thanks a lot for the help!

[2018-09-05 12:04] #94 closed, assigned to nobody

[2018-09-05 13:52] mscuthbert commented on #94
I find that the older .pdf files with all entries are better for searching than the new system -- I wonder if they can be generated as well or to have the search icon be more prominent?

[2018-10-02 06:18] Glenn-smufl opened #95 "Provide additional barlineSeparation values in font metadata"
The SMuFL definition from the current spec is as follows:

"barlineSeparation" 	The default distance between multiple barlines when locked together, e.g. between two thin barlines making a double barline, or a thin and a thick barline making a final barline, measured from the right-hand edge of the left barline to the left-hand edge of the right barline.

However, in Behind Bars (page 39), Elaine

[2018-11-18 10:21] larhun opened #96 "Glyph errors in gitbook tables"
The glyphs provided for recommended stylistic alternates and ligatures don't match the descriptions in many gitbook tables. As an example, the recommended ligatures for ornaments in
[code]
are represented by numbers and the recommended stylistic alternates for tuplets in
[code]
are represented by clefs.

[2018-12-26 09:24] SamuelMiller commented on #82
Hi, any progress in implementing this feature request? Thanks, Sam

[2019-01-14 13:04] dspreadbury opened #97 "Add precomposed arpeggio sign with no arrow"
Requested by engraver Kim Bastin:

"At U+E634 and U+E635 there are arpeggiato signs with, respectively, upward and downward arrowheads. However, I cannot find anywhere an arpeggiato sign without an arrowhead, which is by far the most common form one sees. Since I can easily imagine contexts where one would want to refer (in text) specifically to the arrowless form, I would like to propose that an

[2019-01-23 06:54] #38 closed, assigned to dspreadbury

[2019-01-23 06:54] dspreadbury commented on #60
Fixed in #98.

[2019-01-23 06:54] #60 closed, assigned to dspreadbury

[2019-01-23 06:55] dspreadbury commented on #90
Fixed in #98.

[2019-01-23 06:55] #90 closed, assigned to dspreadbury

[2019-01-29 23:52] dspreadbury opened #100 "Clarify registration of characters in Rests range"
In steinbergmedia/bravura#8 @ewanmellor expresses confusion over the vertical placement of the whole rest glyph (`restWhole`, U+E4E3). We should clarify in the *Implementation notes* for the *Rests* range of characters in the specification that y = 0 corresponds to a staff line, but not necessarily a specific staff line, so the half rest sits on top of y = 0 while the whole rest hangs from y = 0.

[2019-01-31 07:44] bhamblok opened #101 "Typo in the Spec"
It was so interesting I kept on reading :-) Thank you Daniel.
By accident I noticed a small typo, there appears to be a remainder of an html-span-element here:
https://github.com/w3c/smufl/blob/b05f6e9ae7de7efd83fba763ef1b7b48356bb96e/gitbook/specification/scoring-metrics-glyph-registration.html#L2280

[2019-01-31 10:19] adrianholovaty commented on #101
Thanks, Bob! Fixed in a99b7d3.

[2019-01-31 10:19] #101 closed, assigned to nobody

[2019-02-05 17:50] jerayan opened #102 "Text Font Name in .json"
I would like to propose a support of new line of code as `"textfontName": "Times New Roman",` in .json file.

In Dorico you have default font Bravura Text (Bravura) and Petaluma Text (Petaluma) coded directly in app core. It would be nice to have option for using specific text font in .json.

[2019-02-08 17:38] dspreadbury commented on #96
This was caused by a mismatch between the version of Bravura Text included on the site. This was fixed in commit [a232671](https://github.com/w3c/smufl/commit/a23267190193861179c30099cc15556f183ffb42).

[2019-02-08 17:38] #96 closed, assigned to nobody

[2019-02-08 17:48] dspreadbury commented on #91
At the moment we consider attempting to move SMuFL into the Unicode standards track to be a non-goal. We have a repertoire of (at the time of writing) 2791 characters, though of course 200-ish of these are already encoded in the existing [Musical Symbols](https://www.unicode.org/charts/PDF/U1D100.pdf) range, and the work required to put together a thorough proposal for encoding all of these ranges

[2019-02-08 17:54] dspreadbury commented on #89
Years ago we started an encoding effort in SMuFL to encode woodwind fingering diagrams. That effort foundered on the complexity of requiring hundreds of glyphs due to the combinatorial explosition of combinations of fingerings. Fretboard chord diagrams have a similarly enormous number of combinations.

Obviously it would be possible to generate chord diagrams with a smaller number of characters us

[2019-02-08 17:54] #89 closed, assigned to nobody

[2019-02-08 17:57] dspreadbury commented on #87
There are quite a few schemes for simplified music notation in use. I believe we need to see evidence of greater use of the United Sound system in published music before we can consider including it in SMuFL. Our criteria for inclusion are somewhat fuzzy, but in general we expect to be able to see some use in published music before a range can be considered.

Furthermore, there is an expectation t

[2019-02-08 18:00] dspreadbury commented on #82
This is in scope for a putative SMuFL 1.4 release.

[2019-02-08 18:00] dspreadbury commented on #81
It would be useful to know from the community what the reasonable upper range on string numbers could be.

[2019-02-08 18:03] dspreadbury commented on #65
@ellberg What is the status of SSMN? Is SSMN now included in MuseScore? Have there been any changes to the suite of symbols? What is the licensing scheme for the existing SSMN font?

[2019-02-08 18:15] twxs commented on #81
As said before from our relatively big community (Guitar Pro) we never have requests for more than 10 strings.
And I think I've never seen more than 13 string on a single neck.

[2019-02-08 22:17] dspreadbury commented on #102
I think we should probably hew as close as we can to the [CSS font-family](https://www.w3.org/wiki/CSS/Properties/font-family) selector, i.e. allow the font designer to provide a prioritised list of text font family names, so that applications can choose the highest priority one that is available on the system.

[2019-03-15 16:15] ellberg commented on #65
@dspreadbury   The SSMN project has been dormant for a while for tech reasons, and as a result SSMN is only  implemented in an released MuseScore 3.0 development version named "MuseScoreSSMN 3" . The font is being updated with additions and modifications of several symbols (glyphs) - should be ready by end of April. Decisions on licensing scheme are being examined.

[2019-03-26 16:38] brawer opened #105 "Register with Unicode?"
Curious, have you considered registering proper Unicode codepoints (not merely private use) with Unicode? It would improve interoperability. Currently, there seem to be no musical symbols in the [Unicode pipeline](https://www.unicode.org/alloc/Pipeline.html), but anyone can file requests.

[2019-03-27 06:06] ericcarraway commented on #105
There's a recent Unicode thread here: https://github.com/w3c/smufl/issues/91.

According to [this comment](https://github.com/w3c/smufl/issues/91#issuecomment-461887491) by SMuFL co-chair @dspreadbury from Feb 8, 2019, the Unicode standards track is a non-goal for the SMuFL project.

[2019-03-27 10:13] dspreadbury commented on #105
Indeed, at least for the time being we don't intend to pursue proposing the addition of SMuFL ranges to Unicode.

[2019-03-27 10:13] #105 closed, assigned to nobody

[2019-03-27 15:06] mscuthbert commented on #105
I'd say that June 2024 (10-years on since v. 1.0 release -- will it really be 5 years this June?) would be a good time to next have a short discussion about what could be gained from unicode standards track or whether to punt having any real discussion to June 2029 for the 15-year anniversary.  vita brevis; unicode longa.

[2019-03-27 15:10] brawer commented on #105
Just curious, what's the reason for the hesitation? That the registration procedure would take too much time and energy?

[2019-03-27 15:11] mscuthbert commented on #105
see #91 and maybe move discussion there if anything needs to be done futher,

[2019-04-02 08:11] tisimst opened #106 "Incorrect glyph names in Time Signatures, Recommended Stylistic Alternates"
In the gitbook, the shown OpenType-friendly glyph names for all time signature stylistic alternates are incorrect, at least with respect to Bravura's naming scheme. For example, timeSig0Large is shown to have the name "uniE080.salt01" in the gitbook, but is called "uniE080.ss04" in Bravura (since v0.99).

The following changes would make gitbook correct in the Time Signatures page:
- Glyph names w

[2019-04-12 11:39] Jither opened #107 "Rationale behind articulation positioning"
Not really an issue, but I wonder about the rationale behind this:

When using the a SMuFL font in software, as far as I can tell, this requires hard-coded positioning of each type of articulation per font?

For the simplest example, consider the staccato: It's usually placed centered in a staff space.

However, in practice, when the glyph is sitting on or hanging from the baseline (in e.g. Bravur

[2019-04-18 11:18] HeikoPet opened #108 "Single stroke caesura and/or breath mark"
I would like to ask to add a single stroke caesura and/or breath mark to the SMUFL standard.
You can find these in the literature as straight and as slanted versions, as you can see in the attached examples.
The caesura (breath mark) is normally placed on the to line of the staff. I a second voice has a different caesura, it is placed on the bottom line.
You can find these kind of notation in Choi

[2019-04-26 14:40] SamuelMiller commented on #82
When will SMuFL 1.4 with chromatic solfege be released?

[2019-04-26 16:51] dspreadbury commented on #82
We don't have a firm schedule, but we're targeting a release before the end of 2019.

[2019-05-16 21:23] dspreadbury opened #109 "Include Alois Hába's set of accidentals for 24-EDO quarter-tones"
Requested by @HeikoPet.

Czech composer Alois Hába originated a set of accidentals for quarter-tone (24-EDO) music in the 1920s, shown here in an extract from ["Alois Hába’s Neue Harmonielehre des diatonischen, chromatischen, Viertel-, Drittel-, Sechstel- und Zwölftel-Tonsystems"](https://urresearch.rochester.edu/institutionalPublicationPublicView.action?institutionalItemId=2625&versionNumber=1)

[2019-06-10 06:51] Jojo-Schmitz commented on #6
Funny enough 'Violinschlüssel' is what Germans call a regular G or treble clef

[2019-07-09 13:47] dspreadbury opened #110 "Add Alexis Savelief's symbols for waterphone notation"
Although there is little (or no) standardisation in notation for the waterphone, font designer Alexis Savelief has created [this guide](http://www.alexissavelief.com/guide-de-notation-du-waterphone) with some recommendations for symbols etc. to help composers notate for waterphone more effectively.

[2019-07-14 22:24] josharmenta opened #111 "Symbols E801 through E811 not loading correctly in Lilypond"
<img width="570" alt="image" src="https://user-images.githubusercontent.com/8599486/61190089-38b37d80-a65c-11e9-84e4-620f567d1c43.png">

The garbage symbol is E801.

[2019-08-25 15:35] HeikoPet commented on #108
After I didn't get any comments to my post, I want to ask, if the attached examples are sufficient or if I should contribute more examples?

Heiko Petersen

[2019-08-27 20:23] benwiggy opened #112 "Add 'filled-in' rectangular breve"
Could we have a 'solid' rectangular breve notehead? This is seen in things like reciting notes in Responses.
Thanks.
<img width="337" alt="Screenshot 7" src="https://user-images.githubusercontent.com/20556865/63805259-f050d600-c910-11e9-817c-472ef212fa16.png">

[2019-08-29 01:08] mscuthbert commented on #112
This would be a good thing to find in the medieval and Renaissance White-notation-filled head -- is it not there?

[2019-08-29 07:34] benwiggy commented on #112
There doesn't seem to be anything in the M&R ranges.

[2019-09-07 14:44] Jojo-Schmitz opened #113 "British vs. American English"
I found a few occasions where, in this standard, British English is used, where American/International English should (?) be used: "leger" vs. "ledger" and "bar(s)" vs. "measure(s)". There may be more.
This is in the names of some glyphs, but also in their description. At least the latter should get fixed IMHO.
Examples:

        "legerLine": {
        "codepoint": "U+E022",
        "description":

[2019-09-07 20:49] dspreadbury commented on #113
There's no rule that SMuFL should follow American English. "Bar" is widely used and understood in American English in any case. The spelling of "leger" is variable in both British and American English. Won't fix.

[2019-09-07 20:49] #113 closed, assigned to nobody

[2019-09-07 20:59] Jojo-Schmitz commented on #113
According to what dictionary?

[2019-09-07 21:02] dspreadbury commented on #113
According to Merriam-Webster, for example, and it is not identified in that (American) dictionary as being a British variant.

[2019-09-08 06:11] Jojo-Schmitz commented on #113
Well, bar is a word in the US, but refers to something you call pub...

https://www.merriam-webster.com/dictionary/leger%20line,
leger line noun
leg·​er line
less common spelling of LEDGER LINE

https://www.merriam-webster.com/dictionary/bar refers to measure in a musical context

And yes, I am fully aware that the British have a strong dislike for American spellings ;-)

See https://www.oxfordlea

[2019-09-08 06:14] Jojo-Schmitz commented on #113
https://www.merriam-webster.com/dictionary/leger%20line,
leger line noun
leg·​er line
less common spelling of LEDGER LINE

[2019-09-08 06:18] Jojo-Schmitz commented on #113
https://www.merriam-webster.com/dictionary/bar refers to measure

[2019-09-08 06:29] Jojo-Schmitz commented on #113
And yes, I am fully aware that the British have a strong dislike for American spellings ;-)

[2019-09-09 07:21] Jojo-Schmitz commented on #113
https://www.oxfordlearnersdictionaries.com/definition/english/leger-line
The 'British' Oxford Learner's dictionnaeier confirmes that "ledger line" is the North American spelling of "leger line"
And https://www.oxfordlearnersdictionaries.com/definition/english/bar_1?q=bar indeed suggests that that "bar" is the British spelling for "measure"

[2019-09-09 08:58] dspreadbury commented on #113
If I could make this any more closed than it already is, I would, but failing that, please consider this issue closed.

[2019-09-09 09:01] Jojo-Schmitz commented on #113
I'd rather have you discuss this on the next consortium meeting, than having it as the decision of one single person.
So please consider this issue not closed.

[2019-09-09 09:12] adrianholovaty commented on #113
@Jojo-Schmitz As a fellow co-chair, I agree with Daniel's closing of this issue.

Speaking as an American who got a degree in journalism, originally planned to be a copyeditor and diligently pushed members of the Django (Python open-source project) community to use American English throughout our documentation, I am very sensitive, even _picky_, regarding issues of English language. And, in this c

[2019-09-09 09:27] Jojo-Schmitz commented on #113
Well, my experience is different, while usually the British understand both forms, Americans frequently don't.
But with 3 heads in the consortium and now 2 votes against this, I can't but lay this issue to a rest, even if my opinion on this hasn't changed.

[2019-09-09 14:37] josharmenta commented on #113
In the spirit of fraternal unity id like a copy of the SMUFL spec in Cockney rhyming slang.

Enviado desde mi iPhone

El 9 sep 2019, a la(s) 4:28, Joachim Schmitz <notifications@github.com<mailto:notifications@github.com>> escribió:

Well, my experience is different, while usually the British understand both forms, Americans frequently don't.
But with 3 heads in the consortium and now 2 votes agai

[2019-09-09 14:46] mdgood commented on #113
As another American co-chair, I agree with Daniel and Adrian. British note durations like quaver are indeed not generally understood in the USA. However, bar / measure and leger / ledger are synonymous. Leger is also the spelling used in MusicXML.

[2019-09-09 17:29] mscuthbert commented on #113
I've never understood "bar is not used for measure in American English" -- I see it everywhere here (music21 uses "Barline" though we do use "Measure") -- leger is a much less commonly used spelling (even Behind Bars UK edition uses the "d"), but if it's already out there I can live with it.  Perhaps as a compromise, if it's not already there, one of the descriptions can include a phrase like "leg

[2019-10-07 03:52] ryceg opened #114 "Add half-harmonic noteheads"
Add the half-harmonic noteheads as per Elaine Gould pp. 424

[2019-10-31 12:31] sdnalloh opened #115 "Add Chop Notation Symbols"
Casey Driessen and Oriole Saña have created a set of symbols for notating the 'chop', a percussive violin/fiddle bowing technique. https://www.caseydriessen.com/chop-notation-project

[Using the Chop Notation Project Symbols.zip](https://github.com/w3c/smufl/files/3793724/Using.the.Chop.Notation.Project.Symbols.zip)

[2019-11-07 17:15] caseydriessenwebadmin commented on #115
Thanks @sdnalloh for bringing our project to this group in the hopes that Oriol and I can make it more easily available to the community that would like to use the symbols.

Oriol and I grant permission to the W3C CG to use the symbols in the Chop Notation Project royalty-free. Let me know how I can be of assistance.

Thanks to all for the help,
Casey

[2019-11-07 20:38] knutnergaard opened #116 "Add half parenthesis/brackets for notehead seconds"
In my experience, this is pretty infrequently seen in published music, but would nevertheless be a useful addition for edits and optional note indications of seconds in the same column. See attached.

Currently, the notehead range doesn't contain square brackets, but this modification would be welcomed in the event the addition of those as well.

<img width="402" alt="Skjermbilde 2019-11-07 kl  21

[2019-11-07 20:38] knutnergaard commented on #116
notehead*

[2019-11-21 10:30] benwiggy commented on #112
Actually, it is in the M&R noteheads: U+E934 mensuralNoteheadLongaBlack. However, Bravura displays the glyph just as a black rectangle, without the vertical lines that can be seen in the picture above, and those in the corresponding glyphs at U+E937 mensuralNoteheadLongaWhite, U+E933 mensuralNoteheadMaximaWhite, and U+E0A1 noteheadDoubleWholeSquare, etc, etc.

[2019-11-25 21:42] mscuthbert commented on #112
ah -- I had a discussion with Daniel about this long ago and I don't think everything medieval/Renaissance musicologists could want was ever fully implemented.

There is a type of notation called "black" or solid mensural notation and a type of notation called "white" or void mensural notation.  The latter starts taking over somewhere around 1450.

However, within black mensural notation "white" n

[2020-01-19 17:35] erikronstrom opened #117 "Alignment of fretboard symbols"
The glyphs fretboardFilledCircle, fretboardX and fretboardO are not centered on the origin but rather standing on the baseline and having zero left bearing. Considering the use case of chord diagrams, it would make more sense to have these glyphs horizontally centered around the origin (which would mean non-zero left side bearing).

[2020-02-20 14:57] dspreadbury opened #118 "Add special noteheads used in Swiss rudimental drumming notation"
Requested by Urs Gehrig, who provided this summary of the historical context of rudimental drumming and the specific requirements:

[20200131_Rudimental-Drumming-Font-v04.pdf](https://github.com/w3c/smufl/files/4231340/20200131_Rudimental-Drumming-Font-v04.pdf)

To summarise:

– Black notehead with small tail-less stem poking upwards out of its middle: flam
– Half (white/unfilled) notehead with sm

[2020-03-03 18:23] ursgehrig commented on #118
Dear Daniel. Thank you a lot for your support. Just let me know, if you have further questions. We are looking forward to a first implementation. Kind regards, Urs

[2020-03-12 16:36] Jojo-Schmitz opened #119 "`ornamentMordentInverted` vs `ornamentMordent` vs. `ornamentShortTrill`"
Apparently aa2b7b7d got rid of `ornamentMordentInverted` and replaced it with `ornamentMordent` which in turn got renamed to `ornamentShortTrill`.

* Now how to deal with scores prior to that change? While the replacement of `ornamentMordentInverted` (to `ornamentMordent`) can get handled, the rename of `ornamentMordent` (to  `ornamentShortTrill`) can't (as there is no way to tell whether it is th

[2020-03-13 10:24] Jojo-Schmitz commented on #81
Lutes have up to 13 courses

[2020-05-12 10:10] Stigjb opened #121 "The implementation notes for Meters have wrong names for precomposed glyphs"
The names of the glyphs are `repeatLeft` and `repeatRight`, not `leftRepeat` and `rightRepeat`.

Should be fixed by #120

[2020-05-13 23:17] MVSICA-FICTA opened #122 "Metadata Organization and Usage"
Having so many notation symbols together under the SMuFL standard is wonderful. However, when looking at the metadata files I am not so satisfied.

The glyphnames.json is essential, while ranges.json seems to exist for rendering the font browser page and classes.json is somewhat similar but incomplete according to the documentation. Then there is also the metadata file that comes with each SMuFL c

[2020-05-15 21:19] erikronstrom opened #123 "Add advance width (and possible kerning pairs) to the font metadata"
It is currently not possible to calculate the width of a “SMuFL string” using only the font metadata. The bounding box information is not enough, as glyphs may have non-zero right side bearing. It would be very useful if SMuFL defined a way to write out the advance width for each glyph in the font metadata file. For backward compatibility (and for saving space), this value could default to the bBo

[2020-06-08 10:57] Jojo-Schmitz commented on #108
That does exist already as far as I can tell, as `chantCaesura`, with a name of simply `"Caesura"`.
(And just recently got added to MuseScore, on request of a German user ;-))
It does get drawn half a space to high though, by default, but that might well be a plain MuseScore problem.

[2020-06-08 11:01] Jojo-Schmitz commented on #119
No comment on this since 3 months?

[2020-06-08 11:30] Ra-Yo-Su opened #124 "Add arrow heads as accidentals."
Several microtonal notation systems use arrow heads (looking like ∧, ∨, >, <) as accidentals. These include:
- **_Up/Down notation_**, which is more or less the standard notation in 22EDO and 31EDO, but also used elsewhere. Lacking ∧ and v ("up" and "down") users often resort to other symbols, however.
- **_Porcupine notation_**, which also uses ^ and v.
- Helmholtz/Ellis/Wolf/Monzo (**_HEWM_**) n

[2020-06-08 12:01] wpcopper commented on #124
Attached please find the symbols used in intonalism for this purpose.  
Indeed, it is the up and down arrows (I call them neutral accidentals)
that are most urgently needed, since most other microtonal systems do
not offer them.

William Copper

If the attachment fails to be delivered, you may find the png image here:

https://williamcopper.com/intonation_symbols.png

On 6/8/2020 6:30 AM, Ra-Yo-Su

[2020-06-08 12:06] Ra-Yo-Su commented on #124
The hooked arrows from that image are nice (and a vast improvement over the naturals with arrows), but I'd still prefer the simple arrow heads. Furthermore, simple arrow heads ^ and v appear to be the originally intended standard for Up/Down notation.

[2020-06-09 07:36] Ra-Yo-Su commented on #124
^ and v are also used in Helmholtz / Ellis / Wolf / Monzo (HEWM) notation. In that system, they stand for +/- 33:32 = 53.28.

HEWM also uses < and > for +/- 64:63 = 27.26, and + and - for +/- 81:80 = 21.51. As well as some further symbols that aren't exactly standardized.

For further details, see: http://tonalsoft.com/enc/h/hewm.aspx

Perhaps, it would be useful to add more of the HEWM accidental

[2020-06-09 07:43] Ra-Yo-Su commented on #124
For an (important) example of the use of ^ and v in Up/Down notation, see p. 188 pf the following document:
http://www.tallkite.com/misc_files/alt-tuner_manual_and_primer.pdf

[2020-06-24 15:18] IsaacWeiss opened #125 "Add more options to engravingDefaults"
I'm doing some work with MuseScore that would benefit from additional keys in the `engravingDefaults` struct (described [here](https://github.com/w3c/smufl/blob/gh-pages/markdown/specification/engravingdefaults.md)). For example, Bravura is designed with a slightly thick, heavy aesthetic, and in Dorico multimeasure rests are styled accordingly. I implemented some special handling within MuseScore'

[2020-07-01 21:26] dspreadbury opened #126 "Update Helmholtz-Ellis Just Intonation notation range"
From Thomas Nicholson:

[2020-07-12 15:33] mirabilos opened #127 "spelling mistake “follwed”"
https://github.com/w3c/smufl/blob/ad29e2410739dc550839d6f8864c1b4c474d70cd/metadata/glyphnames.json#L8480

This has “follwed” but ought to have “followed”. This was spotted by Debian’s lintian tool’s spellchecker.

As this is part of the specification, I’m not fixing this spelling bug in MuseScore’s Debian packaging locally until the specification is adjusted or I get a statement that I should fix

[2020-07-18 00:01] Rumi-Larry opened #128 "Add support for Dodeka Notation"
https://www.dodekamusic.com/learn/alternative-music-notation/
Dodeka notation is truly the most comprehensive, and intuitive notation to date. Seeing how SMFL already supports other non-standard notations, like the Sagittal accidentals, I was wondering what the process is like to submit it and get approval I estimate that about 50 characters are needed (counting some possible control characters).

[2020-07-18 03:17] mscuthbert commented on #128
-1 only one reference to the notation before 2010.

[2020-07-18 03:36] josharmenta commented on #128
Myke I believe Dodeka is also a commercial product and proprietary, no?

Sent from my iPhone

[2020-07-18 03:48] Rumi-Larry commented on #128
I didn't know there was a minimal age requirement, but I'm sure other already included notations are fairly young

The Indian Drum clef is included, as well as the simplified music notation, I'm pretty sure those are also commercial and proprietary

[2020-07-28 00:09] joshua-small commented on #82
Following up on this +1 year after the last comment, when will SMuFL 1.4 with chromatic solfege be released?

[2020-07-30 02:03] WolfGangsta opened #130 "Add missing Shape-note noteheads"
I've been modifying GNU LilyPond's Emmentaler font to fit SMuFL, and I discovered that Emmentaler includes some shape note notehead glyphs that aren't present in the SMuFL specification. Because they are found in shape note literature but cannot be deemed stylistic alternates of existing glyphs, they should probably be added to the standard.

As found in Funk's _New Harmonia Sacra_ (on IMSLP [here

[2020-07-30 02:16] WolfGangsta opened #131 "Add metadata item: designSize"
I'm currently modifying GNU LilyPond's Emmentaler font to meet SMuFL specification. However, Emmentaler comes in eight point size variations. Releasing eight versions of a font whose only size identifiers are the font's name and the OpenType optical size field (a part of the GPOS table, I think) would make life very difficult for programs that don't support OpenType features. Users would have to m

[2020-08-10 14:23] benwiggy opened #132 "generate JSON script no longer works?"
Robert Piechaud's script for generating JSON files no longer works for me. It seems to be running under python3, and so producing errors to do with changes between that and python2, e.g.  print statements without ()

I still have python2 installed, so I don't know why it's favouring the other one.

[2020-08-10 14:28] adrianholovaty commented on #132
Happy to help figure this out, but could you point me to the appropiate file within this GitHub repo?

[2020-08-10 14:29] benwiggy commented on #132
Sorry. This one:

https://github.com/w3c/smufl/blob/gh-pages/scripts/fontforge/generate_font_metadata.py

[2020-08-10 14:55] adrianholovaty commented on #132
@benwiggy Thanks! Yeah, that file is using Python 2 syntax that's incompatible with Python 3.

If you still have Python 2 installed on your system, you can get around this by calling Python 2 explicitly. You'll need to know the filesystem location of your Python 2 installation. If it's installed at `/usr/local/bin/python2`, you would run the following from the command line:

[code]

If you don't h

[2020-08-10 15:03] benwiggy commented on #132
Would that it were that easy! I'm currently calling the script as:

fontforge -script generate_font_metadata.py

So it's up to fontforge what python to use. It may be possible to run the script directly, but I'm having trouble finding a fontforge library for python outside of the fontforge shell command itself.

The print statements are easy enough to convert, but there are some other methods that

[2020-08-10 16:01] adrianholovaty commented on #132
@benwiggy Ah, sorry, I didn't realize the script was being called in an indirect way. In that case, a quick-hack solution would be to edit `generate_font_metadata.py` and change the first line to this:

[code]

...making sure to use the full path to your local Python 2 version.

[2020-08-10 16:09] fkretlow commented on #132
@benwiggy If you can't make Robert's script run, I have a Python 3 script [here.](https://github.com/fkretlow/fontforge-smufl-metadata)

At least on Windows there used to be a Python interpreter with the fontforge module installed somewhere in the app folder. `ffpython` or something like that.

I've had some trouble with the embedded interpreter before, so for more advanced stuff like this I alway

[2020-08-11 08:52] benwiggy commented on #132
Thanks, @fkretlow That works**. I used the fontforge -script command. ffpython worked identically.

FontForge uses its own bundled version of python, which was python2 but changed to python3 in the releases this year. The shell declaration first line is irrelevant.

So for the purposes of this Issue, the existing python script needs to be updated and won't work on current versions of FontForge.

_

[2020-08-11 11:02] fkretlow commented on #132
The script _should_ generate metadata for cut-outs and stem attachment points, provided you have defined these points in your glyphs as anchors with the correct names. It doesn't try to deduce them on its own.

[2020-08-11 12:22] benwiggy commented on #132
@fkretlow Bingo. Of course. (Ignore my email.)

[2020-08-24 09:13] rettinghaus commented on #125
Also there are multiple values for all sorts of brackets (e.g. "octaveLineThickness" and "tupletBracketThickness"). It would be nice to have a value for all sorts of other brackets (e.g. analytical purposes) that could serve as a fall-back value for the other ones as well.

[2020-08-28 23:14] mdgood opened #133 "Remove duplicate Unicode Musical Symbols assignments"
In the Medieval and Renaissance ranges, the SMuFL 1.3 spec assigns five of the Unicode Western Musical Symbols to two different SMuFL code points. It seems it would make for better application interoperability and consistent font design if there were just one code point selected, as is the case with the other Unicode symbols in this range.

The five that I have found with duplicates are:

- U+1D1B

[2020-09-01 05:19] mscuthbert commented on #133
Hi Michael -- I'll explain more later, but these are conceptually different concepts and should be graphically different I believe.

[2020-09-01 09:15] mscuthbert commented on #133
Ah! I get it now (ignore deleted comments) -- yes, these are duplicate assignments of the Unicode value to two different concepts that shouldn't be conflated.  I agree with all except U+1D1B9's assignment.  There's actually a missing note value in https://w3c.github.io/smufl/gitbook/tables/medieval-and-renaissance-individual-notes.html which should be mensuralWhiteSemibrevis -- which should have t

[2020-09-06 07:50] Jojo-Schmitz commented on #119
Still no comment half a year later?

[2020-09-06 09:16] dspreadbury commented on #119
I've not had time to look into this issue yet, but I will do so when I next have time for concentrated work on SMuFL. I'm sorry to keep you waiting.

[2020-09-06 09:19] Jojo-Schmitz commented on #119
Thanks!

[2020-09-21 16:01] rettinghaus opened #134 "Add Rossini accent"
Rossini used accents, that are closed on the left side (looking like a triangle). Would be good to have this one in SMuFL too.
![image-20200918-052230](https://user-images.githubusercontent.com/7693447/93791263-4dae7800-fc34-11ea-81f9-74432b8f77a8.png)

[2020-10-02 01:33] oldgrump commented on #35
Messa di voce (according to some, mezza di voce) consists of crescendo + decrescendo.  The ‘soft accent‘, generally known elsewhere as ‘closed accent’, consists of an ordinary accent mark followed by a reversed accent mark <>.  It was common enough at one time, and it is a mystery to me why until now fonts with music symbols have not included it.  SMUFL will save the day, I believe.  I can now onl

[2020-10-24 11:48] Jojo-Schmitz commented on #127
This rather obvious bug (resp. its proposed fix) should make it into https://github.com/w3c/smufl/milestone/3

[2020-10-24 20:39] #127 closed, assigned to nobody

[2020-10-24 22:46] dspreadbury commented on #111
Please let me know if this is still occurring with the latest version of Bravura.

[2020-10-24 22:46] #111 closed, assigned to nobody

[2020-10-24 23:07] dspreadbury commented on #125
@IsaacWeiss, is your proposal that there should be a new `engravingDefaults` value for `hBarThickness`?

@rettinghaus, I'm less keen on having "generic" values in the `engravingDefaults` structure. Perhaps you could come up with one or more specific proposals for values that could be added.

[2020-10-24 23:08] dspreadbury commented on #134
@rettinghaus Are you able to provide any specific citations for works in which this is used? Does any other composer use this accent? Does it have any meaning different than the regular accent articulation, or should it rather be considered a potential stylistic alternate for the existing accent articulation?

[2020-10-24 23:43] dspreadbury commented on #132
I believe this issue is satisfactorily resolved. Please reopen if not.

[2020-10-24 23:43] #132 closed, assigned to nobody

[2020-10-25 00:05] dspreadbury commented on #131
Per [the OpenType specification](https://docs.microsoft.com/en-gb/typography/opentype/spec/features_pt), the **size** feature defines the design size in decipoints (i.e. 1/720th inch) and the size range, also in decipoints. (12 points would therefore be 120 decipoints.)

I've added a proposed specification for these two values in the font-specific metadata file, using the names `designSize` and `s

[2020-10-25 00:09] dspreadbury commented on #128
It's not clear to me that this form of notation has obtained sufficiently wide adoption to warrant consideration for inclusion in SMuFL as yet.

Furthermore, the copyright holders of the Dodeka system would have to be willing to provide a royalty-free license in perpetuity to any implementer of the SMuFL specification, and the copyright holder would have to join the community group and provide wri

[2020-10-25 00:09] #128 closed, assigned to nobody

[2020-10-25 00:11] dspreadbury commented on #123
Can you say a little more about the nature of the use case, @erikronstrom? Would you be planning to use this for fonts intended for use in text applications, or for the fonts intended for use in music notation applications?

[2020-10-25 00:12] dspreadbury commented on #121
Fixed with c1140c3

[2020-10-25 00:12] #121 closed, assigned to dspreadbury

[2020-10-25 00:18] dspreadbury commented on #91
Closing this issue for now.

[2020-10-25 00:18] #91 closed, assigned to nobody

[2020-10-25 00:20] dspreadbury commented on #87
This proposal was ultimately withdrawn by its originator.

[2020-10-25 00:20] #87 closed, assigned to dspreadbury

[2020-10-25 00:30] erikronstrom commented on #123
In our case, definitely for music notation applications. This came up when I was breaking out music font and SMuFL related functionality into a separate module in our code. At some point I realized that it wasn't possible to construct a correctly behaving string width function. So actually this question was more about completeness than current use cases.

One actual use case though is when users a

[2020-10-25 00:43] IsaacWeiss commented on #125
Yes, and I think I also had `hBarMargin` or similar in mind.

[2020-10-25 01:42] odhot commented on #80
refer to this website for Indonesian Numeric Notation
http://www.gamelan.org/library/index.shtml

[2020-10-25 09:32] dspreadbury commented on #123
Thanks for the additional clarification. I've created #141 to provide specification of the advance width in the font-specific metadata. I'm disinclined to reproduce the whole of the kerning table in the metadata file: hopefully this is acceptable to @erikronstrom and to others in the community.

[2020-10-25 09:51] erikronstrom commented on #123
Thanks! I can see why you wouldn't be inclined to duplicate the kerning data. On the one hand this means that string measurement will still be inexact when there are kern pairs; on the other hand this probably won't be a huge problem in practice.

Maybe it could be explicitly stated in the description that for entries missing from `glyphAdvanceWidths` the advance width defaults to the right edge o

[2020-10-25 10:22] dspreadbury commented on #123
In theory there shouldn’t be any glyphs missing from the glyphAdvanceWidths structure, even if they have zero width.
On 25 Oct 2020, 09:51 +0000, Erik Ronström <notifications@github.com>, wrote:

[2020-10-25 10:28] erikronstrom commented on #123
Oh, I see. But why? The vast majority of glyphs will have a right side bearing of zero, so including the advance width of every glyph adds a lot of unnessecary redundancy to the font metadata file. If the default assumption was that the advance width equals the right bounding box edge, the `glyphAdvanceWidths` could be kept _much_ smaller (for most fonts anyway), which IMO would be a Nice Thing!

[2020-10-25 11:27] dspreadbury commented on #123
I think we may be talking at cross-purposes: the advance width is the distance that the nominal cursor or caret advances when adding the glyph to a run of text, and so it includes any left or right side-bearings anyway. Negative side-bearings, i.e. where the glyph extends beyond its width to the left or to the right, are not accounted for in the advance width.

All of the non-zero-width glyphs hav

[2020-10-25 12:04] erikronstrom commented on #123
Apologies if I’m confused and/or just plain wrong :)

But my point was that for most glyphs, the right-side bearing is zero. That means that the advance width is equal to the horizontal distance between the origin and the right edge of the bounding box. And since the bounding box data is already available in the metadata, for these glyphs no additional information is needed.

The need for a separa

[2020-10-25 18:05] dspreadbury commented on #123
If the goal is to work out the width of a string displayed using a SMuFL font, then I would have thought the easiest way to achieve that using the tools now available would be to add up the value taken from `glyphAdvanceWidths` for each of the glyphs, then check whether the first and last glyphs have negative advance widths, which you can do by checking the value of `glyphBBoxes` for those two gly

[2020-10-25 21:04] dspreadbury commented on #124
@wpcopper, it looks to me like you are talking about something completely different, which is already encoded in SMuFL, under the name [Gould arrow quartertone accidentals (24-EDO)](https://w3c.github.io/smufl/gitbook/tables/gould-arrow-quartertone-accidentals-24-edo.html).

[2020-10-25 21:22] dspreadbury commented on #125
@IsaacWeiss We don't have any existing engraving defaults for widths of whole items, or for margins around items. That starts to feel like crossing from providing line widths etc. that balance with the design of the font into a different area, closer to something like issues of publisher house style. So my inclination would be only to add `hBarThickness` and not to add widths or margins for H-bars

[2020-10-25 21:25] dspreadbury commented on #122
This issue hasn't sparked any discussion, so for the time being I'm going to close it.

If you have a concrete proposal for changes to the SMuFL metadata, e.g. a combined metadata file that brings the different things together, please feel free to suggest it here or in a new issue, as you wish.

[2020-10-25 21:25] #122 closed, assigned to nobody

[2020-10-25 21:44] dspreadbury commented on #119
The specific change to those glyph names predates commit [aa2b7b7](https://github.com/w3c/smufl/commit/aa2b7b7d17ff783fccfd26e9241bb85c1a3a98eb), which was the first commit after SMuFL moved to the W3C in which the Gitbook specification pages were updated. Unfortunately I can't easily put my finger on the original change, but I can explain it.

In the UK many people (myself included) learned about

[2020-10-25 22:11] erikronstrom commented on #123
Agreed!

Yes! This was exactly why I made the request in the first place!

I think we agree on the actual problem. My point was only that in the cases where the bounding box equal the advance width, it is unnecessary to explicitly write out the advance width in the metadata file. Thus IMO it would seem reasonable that if a character is missing from the advance width table, the advance width is ass

[2020-10-25 22:40] Jojo-Schmitz commented on #119
Thanks, I guess we'd need to the same then for MuseScore. We've recently started doing something like this for some other changes that need this kind of compatibility.

[2020-10-25 22:50] dspreadbury commented on #123
This would reduce redundancy, I agree, but I think it comes at the expense of intelligibility. In either case, you may need to look at the data for a given glyph in both `glyphAdvanceWidths` and `glyphBBoxes`, since you don't know whether or not the advance width is equal to the bounding box width without checking.

In my view, unless we were to provide some additional data, it's not possible to c

[2020-10-25 23:00] dspreadbury commented on #116
Can you provide any citations for this approach being taken in published scores, @knutnergaard, or is this something of your own creation? I haven't seen it in any published scores.

[2020-10-25 23:00] IsaacWeiss commented on #125
@dspreadbury none!

[2020-10-25 23:08] erikronstrom commented on #123
Allright, you have convinced me!  :)

[2020-10-25 23:26] dspreadbury commented on #114
This is the music example shown on page 424 of _Behind Bars_:

![](https://user-images.githubusercontent.com/1312874/97121858-45f16000-1719-11eb-93e1-80ad6f136c9a.png)

[2020-10-25 23:31] dspreadbury commented on #114
This notehead is already included in SMuFL as **noteheadDiamondHalfFilled** (U+E0E3), as seen in the [Noteheads](https://w3c.github.io/smufl/gitbook/tables/noteheads.html) range.

[2020-10-25 23:31] #114 closed, assigned to dspreadbury

[2020-10-25 23:52] dspreadbury commented on #107
Articulations will be positioned differently with regard to noteheads, stems and beams, not to mention slurs, tuplets and other notational items that can interact on the notehead or stem side of a note or chord, and different publishers also disagree on the ideal distance for articulations from the nearest item in these and other contexts.

As such, it's impractical for SMuFL to try to encode this

[2020-10-25 23:52] #107 closed, assigned to nobody

[2020-10-25 23:57] dspreadbury commented on #108
Yes, I believe @Jojo-Schmitz is correct, and this is already present as **chantCaesura** (U+E8F8), in the [Medieval and Renaissance staves](https://w3c.github.io/smufl/gitbook/tables/medieval-and-renaissance-staves.html) range.

[2020-10-26 00:06] ryceg commented on #114
Ah! I didn't realise. Cheers!

[2020-10-26 00:14] dspreadbury commented on #119
OK. I'll close this issue for now.

[2020-10-26 00:14] #119 closed, assigned to dspreadbury

[2020-10-26 06:45] Jojo-Schmitz commented on #119
Yes, thanks, it's been sufficiently explained now.
Back to the drawing board on implementing a backwards compatible "import"...

Oops, actually this is exactly what I did already, somehow I managed to confuse myself ;-)

[2020-10-26 09:21] HeikoPet commented on #108
Daniel, as you can see in my examples, I was asking for a straight vertical caesura (see examples). The chantCaesura is slanted, which has also been used by some publishers (See my last two examples). Nowadays the straight vertical caesura is the commonly used one. Therefore I still want to ask for an addition into the SMUFL standard.

[2020-10-26 15:23] rettinghaus commented on #134
I haven't seen this to be used by any other composer and it has no other meaning than a regular accent.
I guess it would be ok to be a stylistic alternative.

In first editions of Rossini's works I haven't encountered those either, but you can find it regularly in his manuscripts, like in this album sheet in the second measure:
![image](https://assets.classicfm.com/2015/12/beautiful-manuscripts-ro

[2020-10-26 23:59] dspreadbury commented on #95
@Glenn-smufl, I can think of two ways to approach this, and I'm curious as to what you and others in the community think about the options.

One option would be to add a new `engravingDefaults` value, e.g. `thinThickBarlineSeparation`, specifically for the distance between the thin-thick barlines of a final barline, leaving the existing `barlineSeparation` value as it is, but clarifying the docume

[2020-10-27 03:49] Glenn-smufl commented on #95
It is wonderful to have clearly descriptive names that help people avoid the need to refer to documentation for clarity, but it is, in my opinion, even more wonderful to maintain backward compatibility.

In this particular case, there is no serious harm if barlineSeparation were used universally by an engraving program, however the proper use of a newly introduced thinThickBarlineSeparation would

[2020-10-27 12:11] dspreadbury commented on #95
Pull request #136 has been updated to include specification of a new `thinThickBarlineSeparation` member.

Regarding two versus four repeat dots, we could create a recommended stylistic alternate for four repeat dots, but I'm not sure it's worth it. Most music notation applications will use the single dot character positioned appropriately (since staff line separation may differ, e.g. for tablatur

[2020-10-27 20:00] dspreadbury commented on #88
Pull request #150 includes proportion digits 5 through 9. @mscuthbert and @rettinghaus please confirm this is as you would expect.

[2020-10-27 20:31] rettinghaus commented on #88
Looks great, thanks!

[2020-10-27 23:16] dspreadbury commented on #80
Thanks very much for sharing your work on your own font for numbered notation, @Glenn-smufl.

I think the layout issues inherent in reproducing this rich form of notation go beyond the requirements of SMuFL itself: in much the same way that SMuFL does not attempt to make it possible through the use of ligatures and glyph positioning systems that conventional western music notation can be laid out

[2020-10-28 12:57] Jojo-Schmitz commented on #108
Funny enough `caesuraSingleStroke` exists in Bravura('s metadata) already (and in Petaluma too) ;-)

I don't see how adding it to an md file really adds it to anything but the documentation though, wouldn't it need to go to the json files in /metadata/?

[2020-10-28 13:03] Jojo-Schmitz commented on #108
I don't see how adding it to an md file really adds it, wouldn't it need to go to the json files in /metadata/?

[2020-10-28 15:14] HeikoPet commented on #108
Jojo-Schmitz, as you can see in my examples, I was asking mainly for a single stroke with a vertical line. I hope, that this will be added as well, as it is more common these days, because it needs fewer space in tight vocal score notations.

[2020-10-28 15:30] knutnergaard commented on #116
The kind of half parenthesis displayed above is not my own creation, although I can't for the life of me remember where I've seen it.

Perhaps a more common option, however, is the use of a slanted parenthesis. I'm certain I've seen this used by Henle as well, but the attached example is from Durand – Ravels Valses Nobles et Sentimentales. This might be the most elegant solution in some cases, alt

[2020-10-28 15:34] dspreadbury commented on #116
My sense is that such an angled parenthesis probably doesn’t make sense to encode in SMuFL. It’s not truly distinct from a regular opening parenthesis and you would need an array of them to cover a variety of situations (for example, on a back note rather than a front note, or with a stem in the other direction). Any application that would want to reproduce this should probably do so using a primi

[2020-10-28 15:39] Jojo-Schmitz commented on #108
Actually I have no idea how an `caesuraSingleStroke` looks in any font.

[2020-10-28 19:52] knutnergaard commented on #116
I see your point, although, my initial proposal could be regarded more as a ligature than an independent character. It solves the spacing issue with parenthesis in relation to seconds, and you would only need four of them to cover every possible scenario, I think.

Since I can't remember the source for this variant, however, I guess its inclusion should depend on its value for more users than myse

[2020-10-29 21:09] mdgood commented on #80
We don't include the digits 0-9 or the letter x for use in guitar tablature, yet they are as central to that notation as they are for numbered notation. I think we want to treat them consistently, but don't have a strong opinion about whether that would be including them both or excluding them both.

I agree that a larger numbered notation range sounds like the better approach. I suppose we could

[2020-10-29 21:14] mdgood commented on #116
I agree with the rationale for not making this a distinct glyph in SMuFL.

[2020-10-29 21:34] mscuthbert commented on #80
[not wanting to go too far off, but...]

I suppose a question is: are tablature letters -- which are semantically equivalent to numbers (a = 0, b = 1, etc.) and very common in French and older English music  -- are they also something to encode?  Are they stylistic alternatives to numbers? Or their own range?  The shape of c (looks like r) and f (second note) in this example from Lady Pickering's

[2020-10-29 22:15] mdgood commented on #93
Whoops, added this to the pull request when I meant it for the issue...

Is there repertoire that uses the suggested Cowell noteheads? I'm not convinced that a proposal in a publication warrants inclusion in SMuFL - musical repertoire would make a more compelling case.

[2020-10-29 22:27] mdgood commented on #115
I think we would need both Casey and Oriol to be Community Group members in order to accept this into SMuFL. I see that Casey is a member but I don't see Oriol listed.

[2020-10-30 02:33] mscuthbert commented on #93
Following Michael back here:

There is definitely a repertory, but all the pieces I know that use it are by Cowell. I think that all of the noteheads should be in SMuFL but whether they should be duplicated to semantic parts of SMuFL, I'm not sure and maybe slightly against. By the end of Cowell's output he was not using them either.

With Medieval and Renaissance notes, I've tried only suggesting

[2020-10-30 11:28] caseydriessenwebadmin commented on #115
Understood. I will check in with Oriol and send him some instructions to sign up. Please let me know what is needed after that. Thanks for checkin in on our notation.

[2020-10-30 14:07] dspreadbury commented on #115
I think it will be sufficient for Oriol to join the community group (in the process agreeing to the Contributor License Agreement), and then just drop a quick comment here to express his own willingness to contribute the chop notation symbols to the project.

[2020-10-30 14:21] dspreadbury commented on #93
[Fabric](https://imslp.org/wiki/Fabric%2C_HC_307_(Cowell%2C_Henry)) is the only published work to have used these noteheads to my knowledge.

I know @mdgood might have similar reservations about the inclusion of [Daseian Notation](https://w3c.github.io/smufl/gitbook/tables/daseian-notation.html) in SMuFL since it can only be found on a single item in the historical record, but for the sake of a sm

[2020-10-30 14:31] dspreadbury commented on #80
SMuFL does already encode the tablature numbers/letters for specialised tablatures such as [French and English lute tablature](https://w3c.github.io/smufl/gitbook/tables/french-and-english-renaissance-lute-tablature.html), [Italian and Spanish lute tablature](https://w3c.github.io/smufl/gitbook/tables/italian-and-spanish-renaissance-lute-tablature.html), [German lute tablature](https://w3c.github.

[2020-10-30 15:49] dspreadbury commented on #6
@mscuthbert Do you recognise this clef? Do you know anything about it? Do you agree that it should be included in SMuFL? If so, would you be inclined to include it in the [Medieval and Renaissance clefs](https://w3c.github.io/smufl/gitbook/tables/medieval-and-renaissance-clefs.html) range?

[2020-10-30 15:58] dspreadbury commented on #12
Putting this issue on hold for now until one or all of Heinz Bohlen, Nora-Louise Müller or Georg Hajdu are members of the community group and have agreed to the CLA.

[2020-10-30 16:30] dspreadbury commented on #77
In pull request #155 I've added seven new glyphs to the **Beamed groups of notes** range, reproducing the short/long stem quarter, eighth, and sixteenth notes from U+E1F0–U+E1F6 with headless versions from U+E204–U+E20A. I think this addresses the essential element of this request, namely that it should be possible to reproduce the same rhythmic figurations that can be produced with regular black

[2020-10-31 00:03] mscuthbert commented on #77
yes.  Looks great!

I can't remember if I ever asked this, but the Bach font also includes 64th notes on the long stem version -- they are very close to the notehead and really not ideal (but fine in the headless version), but if we could include them in the specification then everything from Bach 3.1 (the most commonly used version) could be translated over to SMuFL.  Probably a separate PR?

Upd

[2020-10-31 00:11] mscuthbert commented on #77
The look of 64th notes in Bach 3.1:

<img width="828" alt="Screen Shot 2020-10-30 at 13 47 22" src="https://user-images.githubusercontent.com/3521479/97766287-cd442800-1ab9-11eb-9a76-978a86317468.png">

[2020-10-31 00:19] mscuthbert commented on #6
Yes, I think I see it more in early baroque than Renaissance music, I believe.  I think it's an alternative stylistic form of the standard G clef.   Here's a reference in:
https://www.smithsonianmag.com/arts-culture/the-evolution-of-the-treble-clef-87122373/

A related version with G sign below it in Marenzio: (from 2nd New Grove under "Clef")

<img width="505" alt="Screen Shot 2020-10-30 at 14 09

[2020-10-31 01:47] mscuthbert commented on #93
I believe that there are about 10 documented independent uses of Daseian notation.  (https://www.cambridge.org/core/journals/early-music-history/article/two-newly-discovered-tenthcentury-organa/B3920163809957BA223E88B1A1467A5A gives a recent new discovery).  It's frequently said that it's "only" used in the Musica Enchiriadis and Scolica Ench., but that's a simplification for undergraduates to ind

[2020-10-31 03:08] Glenn-smufl commented on #80
Since writing the original submission, I have been advised of [this document](https://www.dropbox.com/s/vhbyn64gr3w1cl3/JianPu%20%5BMusic%20Editor%20Manual%5D.pdf?dl=0) as being a more authoritative description of Jian Pu notation.  It came to me as a PDF, not sure of its exact origin in China.
It differs somewhat from what we implemented, particularly regarding the underlines that shorten the dur

[2020-11-10 15:35] dspreadbury opened #156 "Add outstanding glyphs to Olympian and Magrathean Sagittal Extension ranges"
Dave Keenan and Douglas Blumeyer (@cmloegcmluin) have been in touch with the long-awaited completion of the [Olympian Sagittal Extension](https://w3c.github.io/smufl/gitbook/tables/olympian-sagittal-extension-extreme-precision-accidental-diacritics.html) and [Magrathean Sagittal Extension](https://w3c.github.io/smufl/gitbook/tables/magrathean-sagittal-extension-insane-precision-accidental-diacriti

[2020-11-10 15:38] dspreadbury opened #157 "Updated descriptions for two glyphs in 'Spartan Sagittal multi-shaft accidentals' range"
Requested by Dave Keenan and Douglas Blumeyer (@cmloegcmluin).

Two existing glyphs in the [Spartan Sagittal multi-shaft accidentals (U+E310–U+E33F)](https://w3c.github.io/smufl/gitbook/tables/spartan-sagittal-multi-shaft-accidentals.html) range need updated descriptions, as follows:

code point: U+E314
glyph name: accSagittalSharp5CDown
description: Sharp 5C-down, 2°\[22 29\] 3°\[27 34 41\] 4°\[3

[2020-11-10 15:40] dspreadbury commented on #156
Furthermore, this means that a block of 16 code points currently assigned to the Magrathean range can be reallocated; the range of 16 code points from U+E410 to U+E41F. I may or may not opt to do that now; it might be that the range remains part of the Magrathean range until such time as we need to introduce a new range of accidentals.

[2020-11-10 21:47] #95 closed, assigned to dspreadbury

[2020-11-10 21:47] #102 closed, assigned to dspreadbury

[2020-11-10 21:47] #125 closed, assigned to dspreadbury

[2020-11-10 21:48] #100 closed, assigned to dspreadbury

[2020-11-10 21:48] #106 closed, assigned to dspreadbury

[2020-11-10 21:50] #133 closed, assigned to dspreadbury

[2020-11-10 21:51] #131 closed, assigned to dspreadbury

[2020-11-10 21:52] #123 closed, assigned to dspreadbury

[2020-11-10 21:52] #126 closed, assigned to dspreadbury

[2020-11-10 21:55] #109 closed, assigned to dspreadbury

[2020-11-10 21:55] #124 closed, assigned to dspreadbury

[2020-11-10 21:58] #117 closed, assigned to dspreadbury

[2020-11-10 21:59] #115 closed, assigned to dspreadbury

[2020-11-10 22:00] #134 closed, assigned to dspreadbury

[2020-11-10 22:00] #81 closed, assigned to dspreadbury

[2020-11-10 22:01] #97 closed, assigned to dspreadbury

[2020-11-10 22:02] #88 closed, assigned to dspreadbury

[2020-11-10 22:03] #92 closed, assigned to dspreadbury

[2020-11-10 22:03] #93 closed, assigned to dspreadbury

[2020-11-10 22:05] #64 closed, assigned to dspreadbury

[2020-11-10 22:07] #82 closed, assigned to dspreadbury

[2020-11-10 22:07] #108 closed, assigned to dspreadbury

[2020-11-10 22:10] #116 closed, assigned to nobody

[2020-11-10 22:14] dspreadbury commented on #55
Douglas (@cmloegcmluin), my belief is that this reorganisation is no longer required. I'm closing it for now, but please let me know if you think that's incorrect.

[2020-11-10 22:14] #55 closed, assigned to dspreadbury

[2020-11-10 22:40] cmloegcmluin commented on #156
@dspreadbury I just caught a couple errors in the above! The description for U+E3FF should be "4 tinas down, 5²⋅11²/7-schismina down, 0.57 cents down" and the description for U+E407 should be "8 tinas down, 11⋅17/(5²⋅7)-schismina down, 1.14 cents down".

[2020-11-10 22:41] cmloegcmluin commented on #156
Sorry for the inconvenience of the very late catch. Hopefully it's not too late. Basically, I messed up and neglected to switch a couple of the "up"s to "down"s; the very last words in the descriptions for the 4-tina and 8-tina glyphs.

[2020-11-10 22:47] cmloegcmluin commented on #55
Hi @dspreadbury.

Dave (@dkeenan7) and I noticed this while preparing our email to you. It seems like the reorganization described above _already was done_, at least if the ranges described here:

https://w3c.github.io/smufl/gitbook/tables/herculean-sagittal-extension-very-high-precision-accidental-diacritics.html
https://w3c.github.io/smufl/gitbook/tables/olympian-sagittal-extension-extreme-preci

[2020-11-10 22:49] dspreadbury commented on #156
Thanks for spotting those typos. Now fixed, and the pull request has been updated.

[2020-11-10 22:49] dspreadbury commented on #55
Right you are. We will reserve the right to reclaim U+E410–U+E41F in the future, but there's no pressing need to do so now. Thanks!

[2020-11-11 07:24] Jojo-Schmitz commented on #108
What I don't understand is that none of the recent changes and fixes changed anything in `.../metadata/*.json`, but only in `...markdown/*/*.md`, what am I missing there?

[2020-11-11 09:30] dspreadbury commented on #108
You're quite right, @Jojo-Schmitz. As yet, none of the metadata files have been updated with the new glyphs and ranges. I'll raise a separate issue to cover that.

[2020-11-11 09:32] dspreadbury opened #159 "Update SMuFL metadata with changes for new glyphs and ranges in version 1.4"
At the moment, the new glyphs and ranges required to meet the requirements of SMuFL 1.4 have only been added to the specification, and not to the metadata files.

[2020-11-11 09:41] dspreadbury commented on #159
@Jojo-Schmitz Please feel free to review #160 to check that the metadata files are as you expect.

[2020-11-11 09:42] Jojo-Schmitz commented on #108
Ah, OK, thanks for clarifying ;-)

[2020-11-11 09:44] Jojo-Schmitz commented on #159
Looks good to me, although I've not checked whether the set of changes is complete, I'd rather trust you on that ;-)

[2020-11-11 11:50] oriolsana commented on #115
Thanks @sdnalloh for bringing our project to this group!
I grant permission to the W3C CG to use the symbols in the Chop Notation Project royalty-free. Let me know how I can be of assistance.

Thanks so much from Barcelona!
Oriol Saña

[2020-11-17 00:17] #156 closed, assigned to dspreadbury

[2020-11-17 00:17] #157 closed, assigned to dspreadbury

[2020-11-18 00:01] mdgood opened #161 "Update OS X references to macOS"
With the release of Big Sur, macOS 11, this seems an apropos time to update from "OS X" to "macOS" in the SMuFL spec.

I found this at https://w3c.github.io/smufl/gitbook/specification/font-metadata-locations.html, but there may well be other uses of OS X in the text of the spec.

[2020-12-04 07:11] ecstrema opened #162 "Missing accidental ligatures in glyphnames.json"
All the symbols in the last section of this [page](https://w3c.github.io/smufl/gitbook/tables/standard-accidentals-12-edo.html) (ligatures) are not present in glyphnames.json.

Is that on purpose?

[2020-12-04 08:20] dspreadbury commented on #162
Yes, only the glyphs that are in the recommended ranges are included in glyphnames.json; optional glyphs are only included in the font-specific metadata, e.g. for Bravura.

[2020-12-04 08:20] #162 closed, assigned to nobody

[2020-12-08 15:44] #159 closed, assigned to dspreadbury

[2020-12-10 21:13] #161 closed, assigned to dspreadbury

[2020-12-12 12:45] dspreadbury opened #164 "Update SMuFL specification pages with current 1.4 changes"
Although I've been making lots of changes to the SMuFL specification in the Markdown sources, the published editor's draft [here](https://w3c.github.io/smufl/gitbook/) has not yet been updated at all to take account of the current changes. Although the work on an updated version of the reference font Bravura including the new ranges and symbols is not yet complete, it would nevertheless be useful

[2020-12-15 14:39] TristanFaureIGN opened #166 "Request for a missing symbol"
I've been looking on the internet for a font that includes a G Clef that has a dot in it's center, as this is the way childrens are thought to draw them.
I don't know if you could do something about it... I found an example of what I wish in a music theory book :
![GClef](https://user-images.githubusercontent.com/26091870/102228320-dadb3300-3eea-11eb-86d5-3fb3ec9affb2.jpeg)
My ultimate goal is to

[2020-12-15 15:14] dspreadbury commented on #166
I don't think this is a symbol that is distinct from any other G clef, but rather just the design choice of whichever music publisher chooses to use this particular variant.

[2020-12-15 15:14] #166 closed, assigned to nobody

[2020-12-15 15:24] TristanFaureIGN commented on #166
Yes, maybe, but doesn't it have it's place in your font?

[2020-12-15 15:27] dspreadbury commented on #166
If you can provide some more information about this variant, e.g. which publishers use it, where it originated, etc., then it is possible that we could decide to add it as a recommended stylistic alternate.

[2020-12-15 15:58] TristanFaureIGN commented on #166
It is used in the method "Faisons de la musique en F.M. Vol.1"
Editor : H.Cube/Hexamusic

About it's origin, I would say that it's the way the G Clef drawing is taught (in France at least) :
https://www.apprendrelesolfege.com/dessiner-clef-de-sol

And in "A history of music" form Charles Villiers Stanford and Cecil Forsyth we can see that a lot of former G Clef where drawn with a dot on the line (

[2020-12-19 09:20] dkeenan7 opened #167 "Glyph names wiggleVIbratoLargestSlower wiggleVIbratoMediumSlower contain erroneous uppercase I's"
The glyph names "wiggleVIbratoLargestSlower" and "wiggleVIbratoMediumSlower" contain erroneous uppercase I's.

[2020-12-19 11:12] dspreadbury commented on #167
Unfortunately this isn't something we can fix, as even making a change in case counts as a change to the canonical glyph name, which we made a commitment not to change after SMuFL hit version 1.0. There is a small list of incorrect names or names with typos that it would be good to fix, but it would need special agreement from the community to achieve.

[2020-12-19 11:12] #167 closed, assigned to nobody

[2020-12-19 11:19] #164 closed, assigned to dspreadbury

[2020-12-22 18:38] rettinghaus opened #168 "update about section"
The official website to this repo is still _www.smufl.org/_ but should be updated to _https://w3c.github.io/smufl_.

[2021-01-09 14:28] dminaker opened #170 "Oriental accidental missing"
Hello I am using MuseScore to complete a thesis on Tunisian melodic modes. They have a special accidental system to convey degrees of sharpness and flatness. While there are other practice accidentals available in the accidentals pallette such as the Flat and Sharp with up and down arrows, I prefer to use the 'authentic' symbols when writing about them for my academic paper. MuseScore already has

[2021-01-09 14:31] dminaker commented on #170
FYI you can see all of the Tunisian accidentals in this photo:

![accidentals of Tunisian music](https://user-images.githubusercontent.com/77199857/104094187-8fb90380-528f-11eb-9451-37314adc63e0.jpg)

[2021-01-10 23:51] rmatosinhos opened #171 "Gradual mute changes for the horn"
Hello to all. I would like to bring the discussion here on the gradual mute changes for the horn.
Stone (1980), p.201 referes to the gradual changes for the mutes (trumpet) using + and O and warns about the hand stopping of the horn that uses the same symbols used by the mutes on the rest of the brass. Stone states (p.200) that the "the names of the mutes, rather than pictographs, should be used."

[2021-01-14 16:44] nathsiu0202 opened #172 "Support for Chinese open meter time signature"
Hi all, this is my first ever post on GitHub so please forgive me if I have broken any of the rules/norms round here.

Basically, I would like to propose for the inclusion of the Chinese open meter marking time sig and plucked strings articulations to be included in SMuFL. As composers writing for Chinese orchestras might want to use them in a more standardised format instead of just inserting ima

[2021-01-14 16:47] nathsiu0202 commented on #172
i should add: a table for the plucked strings articulation can be easily found in any plucked strings method books, here is a website (chinese sites might be dodgy on privacy, be careful) that have scanned version of a set from a Pipa method book. it's in chinese tho: http://m.yueqixuexi.com/pipa/20170731177933.html

[2021-01-19 17:06] dspreadbury commented on #80
After discussion with the co-chairs, due to the relatively high level of complexity entailed in satisfactorily creating a range that encompasses the various conventions for numbered notation, we've decided to postpone working on this for a release beyond SMuFL 1.4.

[2021-01-27 12:08] rettinghaus opened #173 "rests with leger lines"
I would like to have a recommendation for leger lines on rests added. In other sections we find something like "Scoring applications should ... using a primitive line". What is best practice here?

Refers to these glyphs:
- restDoubleWholeLegerLine
- restWholeLegerLine
- restHalfLegerLine

[2021-01-29 22:53] dspreadbury commented on #24
Thomas Nicholson, one of the originators of the HEJI notation format, says this about the registration of the glyphs in this range:

[2021-01-29 22:53] #24 closed, assigned to dspreadbury

[2021-01-30 00:22] dspreadbury commented on #168
I've now made the necessary configuration change to the repository's settings, so the link on the main page of the repo now points at the latest editor's draft of the spec on GitHub Pages.

[2021-01-30 00:22] #168 closed, assigned to dspreadbury

[2021-01-30 00:22] dspreadbury commented on #77
I've decided against adding 64th notes to this range for SMuFL 1.4 but may return to this in future.

[2021-01-30 00:22] #77 closed, assigned to dspreadbury

[2021-02-02 00:26] meta-meta commented on #64
This is great. Is there a specific reason they stop at 9?

[2021-02-02 00:45] dspreadbury commented on #64
That was what was requested, and though I've not performed an exhaustive search of the repertoire (of analytical texts etc.), I've not seen any examples higher than 9. If you have other, broader requirements, please provide some more details, along with citations of some example publications that we can use as validation and for reference. Thanks!

[2021-02-02 01:04] meta-meta commented on #64
Thanks for the reply. I don't have any specific requirements but I'm evaluating options for representing scale degrees in a domain-specific language. I was surprised to see `8^` but could imagine someone wants to represent the octave. Then I started thinking about why someone would want `9^` and _not_ `10^`, `11^` and so on. My guesses were 8 and 9 note scales (why not 10?) Or maybe someone wants

[2021-02-04 00:32] dspreadbury opened #174 "Reorganise URLs to make publishing draft versions easier"
In order to publish a draft of SMuFL 1.4, we have to provide a canonical URL for the location of the draft report. When we published the draft report of version 1.3 two years ago, we used the same URL that we have habitually used for the current editor's draft, i.e. [https://w3c.github.io/smufl/gitbook](https://w3c.github.io/smufl/gitbook)

This means that we unfortunately cannot use this same URL

[2021-02-04 15:25] #174 closed, assigned to dspreadbury

[2021-02-14 08:57] knutnergaard opened #177 "Inconsistent naming of alternates"
While certain glyphs, obviously intended as part of stylistic sets are properly named using the suffix **.ss**, others are rather named using the suffix **.salt**, intended for independent alternates.

As an example, all figures for large time signatures are named using the code point of the primary glyph suffixed by **.ss04**, while all straight flags are named using the primary code point follow

[2021-02-18 21:39] mdgood opened #178 "Clarify intended metrics guidelines for three ranges"
The SMuFL spec talks about having two fonts, [one for scoring applications and one for text-based applications](https://w3c.github.io/smufl/latest/specification/scoring-vs-text-applications.html). There are different metrics and glyph registration guidelines for [scoring applications](https://w3c.github.io/smufl/latest/specification/scoring-metrics-glyph-registration.html) and [text-based applicat

[2021-02-21 18:24] mnquintana opened #179 "Docs: Glyph size in reference tables is really hard to read"
👋🏽 Would it be possible to increase the glyph size in the glyph reference tables? (e.g. https://w3c.github.io/smufl/latest/tables/noteheads.html)

![image](https://user-images.githubusercontent.com/823545/108634515-d7fb4200-7447-11eb-8c21-8eae403c823f.png)

Although this screenshot makes them look huge, I find the current glyph size so small that they're a bit tricky to distinguish, especially for

[2021-02-21 19:28] peterstadler commented on #179
I made a (non-official) SMuFL-Browser which can be found at https://smufl-browser.edirom.de/index
Maybe that could be of help?

PS: you can even go straight to the image of a glyph by composing an URL like https://smufl-browser.edirom.de/noteheadDoubleWhole.png

[2021-02-24 15:30] DMDComposer opened #180 "Arppegio Symbol not working?"
Hi,

Can anyone else confirm if the arppegio line is not working? I try calling it with the Unicode and just get a blank box, but all the other arpeggio lines seem to be working. I tried to make a test of what's happening at jsfiddle. I wrote one arp working and the second is blank or shows a blank square box.

[https://jsfiddle.net/gu5azr48/3/](url)

U+E63C
arpeggiato
Arpeggiato

Cheers!

[2021-02-24 15:42] dspreadbury commented on #180
Make sure you're using [Bravura 1.392](https://github.com/steinbergmedia/bravura/releases/tag/bravura-1.392) or later if you want to use glyphs that are newly-added in SMuFL 1.4.

[2021-02-24 15:42] #180 closed, assigned to nobody

[2021-03-02 16:21] dspreadbury commented on #178
This does seem like a reasonable request. I will take a look at squeezing this in to SMuFL 1.4.

[2021-03-10 17:15] sbungartz opened #181 "Recommendations on Spacing ins Scoring Applications"
Hi, I just recently stumbled upon SMuFL and started using it in a side project to render some notes in a mobile app.
It is working great and the documentation and the design of the specification have made it really easy!

Initially I just started out placing glpyhs in a canvas using hard coded distances – just kind of eyeballing it so looks okay.
However now, I have started to try and remove any h

[2021-03-10 21:06] dspreadbury commented on #181
You're quite right that SMuFL doesn't encode these kinds of gaps. Many of them are contextual and can expand or contract based on the justification factor of the music, though the distance between an accidental and a notehead is typically fixed.

I don't think SMuFL should really try to encode all of the various rules for the relative positioning and spacing of every musical symbol in relation to

[2021-03-10 21:06] #181 closed, assigned to nobody

[2021-03-11 10:45] knutnergaard commented on #177
In looking through the draft to version 1.4 again, it appears that I somehow was wrong with regard to the straight flags, which are indeed named according to what one might expect. The flags for small staff, however, are named as independent stylistic alternates, which I don't think is right.

BTW, because of the limited search capabilities in the html version of the specification, it's hard to ge

[2021-03-12 15:14] mnquintana commented on #179
Thanks @peterstadler! That does look really useful.

However, I would argue that the official SMuFL spec ought to render its glyphs at a legible size, instead of needing to bounce to a third-party site. (I don't think they need to be rendered as large as in your browser necessarily, just larger than they are now.) @dspreadbury How would you feel about bumping up the glyph size in the spec?

[2021-03-16 16:51] #178 closed, assigned to dspreadbury

[2021-03-16 16:51] #179 closed, assigned to dspreadbury

[2021-03-16 16:53] dspreadbury opened #184 "Prepare final version of SMuFL 1.4 specification"
• Replace references to W3C Contributor License Agreement with W3C Final Specification Agreement

• Add W3C logo to front page of the specification

[2021-03-19 17:12] #184 closed, assigned to dspreadbury

[2021-03-30 17:41] EwonRael opened #186 "non rotationally symmetrical noteheads?"
I am working on a SMuFL font and am using some old scores as references. One idea that I would like to implement in my own font is these teardrop shaped noteheads. As you can see in the reference photo, the notehead pinches as it approaches the steam.

![sample](https://user-images.githubusercontent.com/16858124/113031358-e519f800-918e-11eb-8d37-aee56ef49e6b.jpg)

Unlike the flags, where more then

[2021-03-30 20:12] dspreadbury commented on #186
It's certainly not without precedent for SMuFL to encode different noteheads for up-stem and down-stem contexts; this is needed, for example, for [Shape note noteheads](https://w3c.github.io/smufl/latest/tables/shape-note-noteheads.html) (see U+E1B4 through U+E1B7).

However, I think it's also a font-specific implementation detail that you require different glyphs for up- and down-stem notes becau

[2021-04-03 08:16] EwonRael commented on #186
Within text fonts we have the lovely "contextual substitutions" which allow for alternative glyph versions based off of the context in which a certain character is used. Perhaps it is possible to add a null character indicating the stem's position? This would make it possible to ignore something like this when implementing a SMuFL font, but give those of us with the gumption to program in context-

[2021-04-03 16:39] mnquintana opened #187 "How should scoring apps derive the font size for glyphs to be properly vertically aligned?"
👋🏽 I have a scoring app implementation question about staff spacing – I came across this in the [spec](https://w3c.github.io/smufl/latest/specification/scoring-metrics-glyph-registration.html):

I took this to mean that, for a 5-line staff, which has 4 staff spaces, the font size I should be using when using a SMuFL font (`1em`) is `4 * staffSpacing`. For example, for a `staffSpacing` of `20px`, I

[2021-04-03 17:51] dspreadbury commented on #187
Your calculations are all correct, and the result you're getting is also correct: the vertical extent of the notehead should indeed match exactly the middle of the staff line. In this way, it's independent of the thickness of the staffline.

Bravura includes some oversized noteheads as alternates for the standard ones in the [Noteheads](https://w3c.github.io/smufl/latest/tables/noteheads.html) ran

[2021-04-04 13:48] knutnergaard commented on #187
A related question:

 I tried, without success, to find the reasoning in prior discussions,  for keeping the regular notehead height at exactly 1/4 em, while including the oversized alternates for better readability. Is this documented anywhere in the version history or in an archive somewhere?

If this is not a suggestion in the standard per se, only exemplified through it's implementation in Bra

[2021-04-04 17:34] dspreadbury commented on #187
The old smufl-discuss mailing list is archived at [Nabble](http://smufl-discuss.50501.x6.nabble.com/). It's quite possible that the discussion could be found there, though I'm not sure in exactly which thread. Certainly the consensus, back in the mists of time, that the noteheads in the recommended glyphs range should all follow the specification exactly, and that the specification shouldn't legis

[2021-04-12 09:02] bwbohl opened #188 "Is Byzantine Notation covered in SMuFL"
Due to interest in the Music Encoding Community (https://github.com/music-encoding/music-encoding/issues/707) I tried to find out whether Byzantine Musical Symbols (as covered in Unicode https://decodeunicode.org/en/u+1D000) is already part of the SMuFL font layout table. Unfortunately I couldn't find it and was wondering which block of SMuFL would be the right place?
Any help appreciated! Many th

[2021-04-12 09:25] dspreadbury commented on #188
Please see #45.

[2021-04-12 09:25] #188 closed, assigned to nobody

[2021-04-12 14:59] bwbohl commented on #188
@dspreadbury thx!

[2021-04-19 17:03] mdgood opened #189 "Slash notation without stems"
For repeated sections of music that display slashes without stems, it's not 100% clear how these slashes are supposed to be done with SMuFL. Two main questions are:

- Which glyph should be used? The likely candidates seem U+E504 - repeatBarSlash and U+E101 - noteheadSlashHorizontalEnds.
- How should the slash glyph be positioned? Are they considered to be movable notations, or glyphs that apply t

[2021-05-11 13:11] rettinghaus opened #190 "misplaced glyphs"
In the overview for the range of German organ tablature glyphs some of those are misaligned.
![image](https://user-images.githubusercontent.com/7693447/117820223-9fab1900-b26a-11eb-8617-54ff81e3ad83.png)

[2021-05-26 16:25] lucatoldo opened #191 "Laban glyphs"
Dear all,
It would be very useful if the LabaNotation symbols that are available in Wikipedia.commons could also become part of Smufl.
This could facilitate music conductor learning consistent movements (e.g. using the approach led by James Jordan called Laban Movement Score Analysis) but as well enable choreography and music to be jointly formalized.

![Laban-median-forward-high](https://user-ima

[2021-05-26 17:06] ecstrema commented on #191
Link to wikipedia page?

[2021-05-26 17:07] ecstrema commented on #191
There is https://en.wikipedia.org/wiki/Labanotation, but it does not enumerate the symbols you listed.

[2021-05-26 20:09] luto65 commented on #191
They have been uploaded by Dr. Jeffrey Scott https://commons.wikimedia.org/wiki/User:Jeffrey_Scott_Longstaff
and can be seen by looking at the following link https://commons.wikimedia.org/wiki/Special:ListFiles/Jeffrey_Scott_Longstaff
Dr. Jeffrey Scott did his PhD at the Laban institute and is highly qualified, as you can see from his curriculum.

[2021-05-26 20:12] luto65 commented on #191
One can see them for example in the Encyclopedia Britannica at the following reference.
Guest, Ann Hutchinson. "Labanotation". Encyclopedia Britannica, 27 Sep. 2013, https://www.britannica.com/art/labanotation. Accessed 26 May 2021.

[2021-05-26 20:18] luto65 commented on #191
See also the following published paper, still from Dr. Jeffrey Scott Longstaff

Longstaff, Jeffrey Scott (2018) "Rudolf Laban's Dream: Re-envisioning and Re-scoring Ballet, Choreutics, and Simple Functional Movements with Vector Signs for Deflecting Diagonal Inclinations," Journal of Movement Arts Literacy: Vol. 4 : No. 1 , Article 2. Available at: http://digitalcommons.lmu.edu/jmal/vol4/iss1/2

[2021-06-04 03:44] ryceg opened #192 "GitBook has accessibility isssues"
![image](https://user-images.githubusercontent.com/36913739/120741609-a743a200-c538-11eb-900d-a8e8b8a7dcf6.png)

AxeTools returns several rather severe issues with the GitBook dark mode.

* Resultant headings underneath the search title should increase by one- they should be `<h2>` elements instead of `<h3>` elements.
* Contrast in the search box is poor, with a contrast score of 1.79 (.
* Contras

[2021-06-04 21:48] dspreadbury commented on #192
Thanks for taking the time to look at this, Rhys. If you'd like to suggest some modifications to the CSS styling to address the colour contrast, that would be reasonably easy for me to incorporate. Changes to the header styles etc. would require some authoring changes up-stream from the creation of the GitBook materials, which I'll need to think about. Changes to the alt text for elements like the

[2021-06-11 14:13] ellberg commented on #65
Hi,

After a long covid-type delay I'm submitting the SSMN 01 font and a descriptive PDF.
The license chosen is the CC Creative Commons.
I hope that this font meets with your requirements.

Best,
Emile Ellberger
[SSMN 01_ font and PDF.zip](https://github.com/w3c/smufl/files/6639008/SSMN.01_.font.and.PDF.zip)

[2021-06-13 15:47] davemacdo opened #193 "Flags missing from classes.json documentation"
On the classes.json documentation page, there is an example excerpt from a metadata file that includes `"clefs"`, `"noteheads"`, and `"flags"`. However, in the table below, `flags` are not mentioned as a class defined by the spec.

[2021-06-17 13:36] ellberg commented on #65
Hi Daniel,
I've uploaded once more the SSMN 01 ttf font and an updated font description & general remarks for SmuFL.
Please inform me as to  the presentstatus.
Thank you.
Emile Ellberger
[ssmn01 font (ttf) & font description_17_06_2021.zip](https://github.com/w3c/smufl/files/6670599/ssmn01.font.ttf.font.description_17_06_2021.zip)

[2021-07-22 09:57] rettinghaus commented on #54
Actually there are reversed accents in printed editions, mostly in the Lied repertoire. So I recommend to have them in SMuFL too.

![reverse_accent](https://user-images.githubusercontent.com/7693447/126621167-a775f020-fd3e-456c-8c7e-fd0838b86fba.jpg)
This comes from Pauline Viardot Garcia's ''Ruhige, heilige Nacht''
https://digital.blb-karlsruhe.de/id/6478117

[2021-07-22 09:59] rettinghaus commented on #54
I think it should still fit into normal `Articulation` range, but we can add them into `Articulation supplement`.

[2021-07-31 17:06] benwiggy commented on #112
I think I closed this a bit prematurely. Sorry. Someone else was asking for this symbol today, so it would still be a useful addition.

This is a more modern symbol used for reciting notes, also seen in psalms, rather than a filled void or what-have-you.

[2021-08-09 14:03] rettinghaus opened #194 "Add Spanish Z"
In Spanish manuscripts around 1700 a _Z_ probation sign can be found.

Proporción mayor (after a C with slash):
![image](https://user-images.githubusercontent.com/7693447/128719237-7b7a6579-1e99-4e92-a7de-91688f642116.png)

Proporción menor (after a C without slash):
![image](https://user-images.githubusercontent.com/7693447/128719114-7ca13c2d-b055-4ba7-acd0-8401fc0aebd2.png)

This should be added

[2021-08-18 19:19] mirabilos opened #195 "wrong alternateCodepoint for mensuralBlackSemibrevisVoid"
I’m doing some ad-hōc parsing of the classes and glyphnames JSON files to add them to my quick lookup list ([script](https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=useful-scripts/useful-scripts.git;a=blob;f=misc/smufl2list.php;hb=HEAD), very ad-hōc so excuse the mess), and I get this error:

[code]

And, indeed:

[code]

so I believe mensuralBlackSemibrevisVoid should have U-0001D1BA as a

[2021-08-18 19:23] mirabilos commented on #195
Oh, no, wait, that collides with `mensuralBlackSemibrevis`, so perhaps `mensuralBlackSemibrevisVoid` should not have one?

[2021-08-18 21:16] dspreadbury commented on #195
Please see #133.

[2021-08-18 21:16] #195 closed, assigned to nobody

[2021-08-18 22:11] mirabilos commented on #195
In the commit linked therein I can see that you indeed removed `U-0001D1B9` from `mensuralBlackSemibrevisVoid` but **only in the markdown tables**, neither in the JSON (which I consume here) nor in the HTML…

[2021-08-18 22:34] mirabilos opened #196 "More possible inconsistencies in classes/glyphnames"
Hi,

more from my ad-hōc parsing [script](https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=useful-scripts/useful-scripts.git;a=blob;f=misc/smufl2list.php;hb=HEAD): the `U-0001D138` `alternateCodepoint` for `U+E962` seems to have been removed and readded multiple times over the commits. Currently, it is not there, but considering…

[code]

… it probably should be there?

Additionally, the fo

[2021-08-18 22:41] mirabilos commented on #196
Might be a good idea to write ad-hōc scripts to produce the markdown content from the JSON files (and possibly extra data), then compare their output (with git diff `-w` or `--word-diff`) against what’s actually committed, maybe… also for #195 ?

[2021-09-20 07:47] dspreadbury opened #197 "Add clarification about how multi-segment line glyphs are intended to be used"
The multi-segment glyphs in SMuFL are horizontally orientated at least partly for historical reasons, i.e. it’s how previous generations of music fonts have worked (though I guess that may not be the case for Emmentaler – I did look at Emmentaler in some detail early in the SMuFL project, but primarily for the purposes of surveying its glyph repertoire rather than examining its registration/orient

[2021-09-20 20:36] ccianflone opened #198 "Incorrect range specified for optionalGlyphs in documentation"
At the following page, https://w3c.github.io/smufl/latest/about/recommended-chars-optional-glyphs.html, the optional range is specified as U+F400–U+F8FF.

At the following page, https://w3c.github.io/smufl/latest/specification/optionalglyphs.html, the optional range is specified as U+F400–U+FFFF.

Presumably the former is correct to avoid collisions with Unicode spec, where the Unicode PUA in the

[2021-10-12 10:32] ptram opened #199 "Hot Rod/Broomstick beater symbol"
Hi,

I would like to see the Hot Rod (or Broomstick) beater symbol added. This is a quite recent beater, but has earned some diffusion. There is no alternative symbol to note it, as far as I can see.

Paolo

[2021-10-12 13:22] hrnbouma opened #200 "Add "single/short beat" conductor symbol"
<img width="734" alt="Schermafbeelding 2021-10-11 om 16 11 38" src="https://user-images.githubusercontent.com/92378893/136963378-57ebeff6-d893-4439-86e3-a20ce00d2dab.png">
This example is from Steve Reich, "Tehillim", where the triangles and vertical lines indicate long and short beats respectively. Of course there are other "vertical line" characters that could substitute, but at least in Bravura

[2021-10-15 21:05] miccks opened #201 "Noteheads for Alterations in Solfege movable Do"
Diatonic Noteheads for Solfege Moveable Do are already integrated in smufl.
Unfortunately these alterations are missing atm: Di, Ri, Fi, Si, Li, Te, Le, Se, Me, Ra
See this screenshot from Musescore with the correct naming below each alteration:
![Solfege Moveable Do Alterations](https://user-images.githubusercontent.com/47554658/137552998-14565ec4-a068-40b3-866e-5fc8e5c3686d.png)

[2021-10-15 21:55] dspreadbury commented on #201
This has already been implemented in SMuFL 1.4. Please see #82.

[2021-10-15 21:55] #201 closed, assigned to nobody

[2021-10-15 21:57] miccks commented on #201
Thanks for pointing out. I wasn't aware of this!

[2021-10-26 21:51] GeorgeTailor opened #202 "Are there any symbols for bends on guitar?"
Looks like https://w3c.github.io/smufl/latest/ does not include any mention of the bends

[2021-10-27 07:51] adrianholovaty commented on #202
In my own rendering engine's guitar-bend support, I just use native curve rendering plus one of the SMuFL arrow glyphs. It's the same approach as for notes, in which the stem is a natively drawn rectangle and SMuFL glyphs are used only for the flag and notehead.

Is there a specific glyph you need for bends?

[2021-10-28 14:13] GeorgeTailor commented on #202
well, I guess that's the whole point of the font to remove the need to draw anything on your own and rely on what's inside smufl compliant font.
A lot of difficulties with smufl fonts (on the web) can be solved with [variable fonts](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide), for example, beams of the beamed notes, legato engraving etc. I think same can be sai

[2021-10-28 14:52] joeberkovitz commented on #202
I am not aware of any variable font support for music notation. Virtually all notation programs today use graphic primitives rather than fonts to draw beams, hairpins, slurs, bends and so forth, because of the extreme flexibility needed in sizing, rotating and warping these elements. In SMuFL their appearance is driven by the engraving defaults metadata in a music font (https://w3c.github.io/smufl

[2021-10-28 22:39] GeorgeTailor commented on #202
Hmm, mdn mentions [here](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#introducing_the_variation_axis) and [here](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#custom_axes) that it is possible to create any axis and adjust it with CSS. And when, for example, the browser already knows the width of some particular note beam, stretch

[2021-10-28 22:39] #202 closed, assigned to nobody

[2021-11-09 20:35] Nick-Mazuk opened #203 "Add anchor for tremolos inside flags"
## Goal

It's very common in music for tremolos to fit inside flags.

<img width="149" alt="Screen Shot 2021-11-09 at 11 51 33 AM" src="https://user-images.githubusercontent.com/5659171/140994777-f886ec81-b500-4f21-af36-6583b25036b5.png">

Obviously, to make this work, the bounding boxes of tremolos and flags must overlap. So there should be some way of defining exactly how much they should be abl

[2021-11-15 10:00] rettinghaus commented on #190
Another issue is the size of fingering symbols beginning at U+ED24. These look way smaller than those before.

[2021-11-15 10:02] dspreadbury commented on #190
All of the glyphs are typically shown at the same point size. Glyphs are also shown using their natural alignment, so that is reflected in the way e.g. the German organ tablature glyphs appear.

[2021-11-15 10:02] #190 closed, assigned to nobody

[2021-11-18 08:30] rettinghaus opened #205 "Vertical position of custodes"
As a custos is used to point to a pitch, they should all be positioned on the baseline like noteheads.
While the plainchant custodes are, the mensural ones (U+EA02, U+EA03, U+EA0A, U+EA0B) aren't.
They should be moved down to be in line with the plainchant custodes. Otherwise a notation program has to handle them differently.

[2021-11-22 09:52] rettinghaus opened #206 "Add anchor points in Medieval and Renaissance prolations range"
For correctly positioning the combination glyphs (`U+E920` – `U+E925`) within the tempus glyphs (especially within `mensuralProlation6` and `mensuralProlation7`) we need anchor points. Placing them in the horizontal center would lead to a visual offset.

We could use the `opticalCenter` anchor for this.

[2021-12-09 15:20] rettinghaus opened #207 "Vertical position of lute tablature fret glyphs"
I'm missing some documentation/implementation notes on tablature fret glyphs for the lute ranges.
I would expect to position them like normal noteheads on a line, but as they all sit on the font baseline, they appear above the fret line. This is somewhat connected to #205.

[2021-12-09 17:10] dspreadbury commented on #207
That's as expected, as lute tablature is normally written in the spaces between the lines, rather than on the lines.

[2021-12-09 19:52] rettinghaus commented on #207
This may be correct for French tabulator, but is not in general for German, Italian and Spanish.

Although I've seen German Tablature with letters between lines, it is more common to have them on line as it seems (some random examples):

### German Tablature:
![](https://digital.slub-dresden.de/data/kitodo/BaroSona_454513747/BaroSona_454513747_tif/jpegs/00000011.tif.original.jpg)
[Sonatas - Becker

[2021-12-25 10:47] CombatCube opened #208 "Add thin oval for noteheads"
Gould recommends indicating half- and whole-note durations of crossed notes using a thin oval around the notehead. The existing design at U+E0EC uses a circle that is too large for thirds:
![image](https://user-images.githubusercontent.com/5197034/147383335-4b80fa0f-cad2-4e80-a4a5-9e3439deab34.png)

Using a thin oval instead avoids this situation:
![image](https://user-images.githubusercontent.com

[2022-01-19 10:54] rettinghaus opened #209 "Line spacing in tablature notation"
Tablature notation needs different spacing between staff lines, yet this should be based on the "normal" staff size to work with SMuFL specifications for tablature glyphs. However I couldn't find any information on how this should be done. Some _Implementation Notes_ on tablature notation would be welcomed.

[2022-01-24 14:06] rettinghaus opened #210 "Add Purcell's Graces"
There are several ornaments explained by Purcell that are currently not SMuFL. Although some of those are mere variants of other ornamental symbols, they represent a well known set of glyphs, so it may be better to have all of those in the standard range.

The symbols can be found in _A Choice Collection of Lessons for the Harpsichord or Spinnet_ from 1696:
![Purcell's Graces 1696](https://user-im

[2022-02-01 19:26] magasek opened #211 "Add SMuFL Compliance Level to Metadata"
Problem Statement:
As additional features are added to the SMuFL specification with each successive version, the consequence is that we will see more SMuFL fonts "in-the-wild" which were created conforming to older versions of the spec, and as such do not support all of the latest features.  As a developer working on notation solutions, I need to know the SMuFL version that any given font conforms

[2022-02-01 19:32] magasek opened #212 "Add Font Version to Metadata"
Problem Statement:
As additional features are added to the SMuFL specification with each successive version, the consequence is that we will begin to see multiple versions of a given SMuFL font as that font is updated to conform to the new feature set.  As a developer working on font installers for notation products, I need to know the current version of a given font so I know if a previously inst

[2022-02-01 20:44] magasek opened #213 "Improve Ordering for Glyph Tables"
Problem Statement:

Due to the already large, and ever growing, number of glyph tables in the SMuFL spec, customers are having a difficult time finding what they need.  The current ordering (by order the tables were added to the spec) has no meaning for users.  Ordering by code point likewise is unhelpful.  Customers have asked for an alphabetized listing, but the variation in the way the tables a

[2022-02-02 23:46] magasek opened #214 "Provide Translations for Standard Glyph Names and Tables"
Problem Statement:

With the vast number of glyphs available in SMuFL fonts, users need a method to easily find what they need.  The Glyph Tables help with grouping like items, but users often still need search functionality.  The problem is that all the standard glyph and table names are in English.  While the group names can be readily translated, search mechanisms can only be done using those E

[2022-02-11 09:14] Jojo-Schmitz opened #215 "`caesura` vs. `chantCaesura`"
The clear text name for the glyphs `caesura` and `chantCaesura` is both "Caesura", coulnd't/shouldn't the latter get changed to "Chant caesura" (or "Plainchant caesura", matching the next glyph. "Plainchant C clef") for a better distiction of the two?

[2022-02-11 09:36] Jojo-Schmitz commented on #214
In MuseScore we are translating those, at least the ones we actually use.
See e.g. https://www.transifex.com/musescore/musescore/translate/#de/$/157996539?q=context%3AsymUserNames for the German translations

[2022-02-15 09:28] rettinghaus commented on #215
Somewhat connected to this:
we now have two `caesuraSingleStroke` in the _Holds and pauses_ range, one in the main range (U+E4D7) and one as a stylistic alternate (uniE4D1.salt01).

[2022-02-15 09:46] rettinghaus commented on #214
Something like `glyphnames.json` with multiple languages would be nice.

[2022-02-15 09:54] Jojo-Schmitz commented on #214
glyphnames-de.json, glyphnames-nl.json, ...

[2022-02-18 23:16] SRaybourne opened #216 "Chromatic Solfeggio"
The MuseScore community let us know that this was the place to ask for font additions.

I would like to suggest that moveable do include chromatic notes along with the diatonic notes already available.

If this has already been done, thank you.

I have web development experience but no knowledge of computer font design and implementation so I would be of no use.

Thanks.

[2022-02-26 19:17] rettinghaus commented on #216
Do you mean these: https://w3c.github.io/smufl/latest/tables/note-name-noteheads-supplement.html

[2022-02-26 19:38] rettinghaus opened #217 "Unpitched mensural clef"
Thoinot Arbeau used in his [_Orchesographie_](https://gallica.bnf.fr/ark:/12148/btv1b8610761x) (1589) a special (mensural) clef for the rhythmic notation of drum beats (_Battements du tambour_).

![image](https://gallica.bnf.fr/iiif/ark:/12148/btv1b8610761x/f26/400,840,800,300/full/0/native.jpg)

I don't know if this notation was very common, but still I think it would be a valuable addition to th

[2022-02-26 21:21] SRaybourne commented on #216
yes that is exactly what I mean.

________________________________
From: Klaus Rettinghaus ***@***.***>
Sent: Saturday, February 26, 2022 11:17 AM
To: w3c/smufl ***@***.***>
Cc: SRaybourne ***@***.***>; Author ***@***.***>
Subject: Re: [w3c/smufl] Chromatic Solfeggio (Issue #216)

Do you mean these: https://w3c.github.io/smufl/latest/tables/note-name-noteheads-supplement.html

—
Reply to this emai

[2022-03-05 09:17] Tantacrul opened #218 "Mismatch for documentation of U+EAAE wiggleArpeggiatoDownArrow"
A minor issue:
These two descriptions for wiggleArpeggiatoDownArrow don't match:

https://www.smufl.org/version/1/range/multiSegmentLines/
<img width="547" alt="image" src="https://user-images.githubusercontent.com/21022311/156876863-86382f0a-cf9b-4cf8-b8d4-a9f5a0611595.png">

---

https://w3c.github.io/smufl/latest/tables/multi-segment-lines.html
<img width="405" alt="image" src="https://user-ima

[2022-03-05 09:53] Jojo-Schmitz commented on #218
And none of them really goes down...
MuseScore just uses `wiggleArpeggiatoUpArrow` only, all the way, and turns it 90° clock-wise or counter-clock-wise, as needed, as back then I couldn't find a way to make `wiggleArpeggiatoDownArrow` work without pointing **towards** `wiggleArpeggiatoDown` rather than away from it

[2022-03-05 10:05] Tantacrul commented on #218
@Jojo-Schmitz: incidentally, we now want to include the two arrows (and we'll change the rotation accordingly) as part of some general housekeeping.

[2022-03-05 10:37] Jojo-Schmitz commented on #218
I thought so ;-)

[2022-03-05 10:53] Jojo-Schmitz commented on #218
Well, https://www.smufl.org/version/latest/range/multiSegmentLines/ is having the same issue as https://www.smufl.org/version/1/range/multiSegmentLines/

[2022-03-05 13:07] Jojo-Schmitz commented on #218
In MuseScore (here 3.x) we could use somthing like this:
[code]
Currently we use the 'special Bravura/Petamuma' case always and for all fonts MuseScorre supports (i.e. has built in)

[2022-03-08 10:57] dbuenzli opened #219 "On the relationship between glyphAdvanceWidths and standard OpenType tables"
It seems to me that [`glyphAdvancesWidths`](https://w3c.github.io/smufl/latest/specification/glyphadvancewidths.html) is simply repeating the same information you can find in the OpenType [`hmtx` table](https://docs.microsoft.com/en-gb/typography/opentype/spec/hmtx). Basically for a glyph this is simply:

       (advanceWidth / unitsPerEm) * 4

Where `advanceWidth` is the value found in the `hmtx`

[2022-03-13 20:52] dbuenzli opened #220 "On the relationship between the cmap OpenType table and the glyphnames.json information"
This issue is similar to #219. Namely data integrity issues between OpenType data and the SMuFL JSON metadata.

In SMuFL the [`accidentalNatural`](https://github.com/w3c/smufl/blob/59c30fea57df39c29a3444200f9b375decc14322/metadata/glyphnames.json#L1649-L1652) glyph can be represented according to `glyphnames.json` by the code point U+E261 or the alternate character U+266E.

Naively I expected that

[2022-03-14 09:39] dspreadbury commented on #220
The advance widths data is reproduced in the JSON metadata files for applications that don't have ready access to internal values from the OpenType font tables. Furthermore, SMuFL is also intended to be at least somewhat font-format agnostic, so that it is not reliant on the specific implementation details of any particular font format.

However, it is obviously desirable that the values in the me